/* line 1, ../_sass/epic.scss */
body {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 6, ../_sass/epic.scss */
body > header {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
/* line 11, ../_sass/epic.scss */
body > header ul li:first-child {
  font-weight: bold;
}

/* line 16, ../_sass/epic.scss */
body > section > header#page {
  margin-top: 160px;
  margin-bottom: 160px;
}
/* line 21, ../_sass/epic.scss */
body > section > header#page h1 {
  font-size: 64px;
}
/* line 25, ../_sass/epic.scss */
body > section > header#page h3 {
  font-size: 22px;
}

/* line 30, ../_sass/epic.scss */
article.post {
  font-size: 22px;
  line-height: 36px;
  max-width: 740px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 38, ../_sass/epic.scss */
article.post p {
  padding-bottom: 1.25em;
}
/* line 42, ../_sass/epic.scss */
article.post p > img {
  width: 100%;
  text-align: center;
  background-color: blue;
}
/* line 48, ../_sass/epic.scss */
article.post p > img.headline {
  position: relative;
  left: -60px;
  right: -60px;
  top: 0;
  max-width: calc(100% + 60px);
}
/* line 56, ../_sass/epic.scss */
article.post p > img.callout {
  width: 100%;
  text-align: center;
}

/* line 62, ../_sass/epic.scss */
body > footer {
  border-top: 1px lightgrey solid;
  padding-top: 30px;
}
/* line 66, ../_sass/epic.scss */
body > footer article {
  display: flex;
}
/* line 69, ../_sass/epic.scss */
body > footer article section {
  flex: 1;
  border-left: 1px lightgrey solid;
  padding-right: 24px;
  padding-left: 24px;
}
/* line 75, ../_sass/epic.scss */
body > footer article section h4 {
  margin-top: 0;
}
/* line 79, ../_sass/epic.scss */
body > footer article section p:last-child {
  margin-bottom: 0;
}
/* line 84, ../_sass/epic.scss */
body > footer article section:first-child {
  border-left: none;
}

@media screen and (max-width: 800px) {
  /* line 93, ../_sass/epic.scss */
  body header {
    margin: 40px 20px;
  }

  /* line 98, ../_sass/epic.scss */
  body > footer article {
    flex-direction: column;
  }
  /* line 100, ../_sass/epic.scss */
  body > footer article section {
    padding-top: 20px;
  }
}
