/* line 1, ../_sass/epic.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, ../_sass/epic.scss */
body > div > div {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 11, ../_sass/epic.scss */
body > div > div > header {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
/* line 16, ../_sass/epic.scss */
body > div > div > header ul li:first-child {
  font-weight: bold;
}

/* line 21, ../_sass/epic.scss */
body > div > div > section > header#page {
  margin-top: 160px;
  margin-bottom: 160px;
}
/* line 26, ../_sass/epic.scss */
body > div > div > section > header#page h1 {
  font-size: 64px;
  font-weight: 400;
}
/* line 31, ../_sass/epic.scss */
body > div > div > section > header#page h3 {
  font-size: 22px;
  font-weight: 400;
}
/* line 35, ../_sass/epic.scss */
body > div > div > section > header#page time {
  font-size: 22px;
  font-weight: 400;
  padding-top: 5px;
}

/* line 42, ../_sass/epic.scss */
article.post {
  font-size: 22px;
  line-height: 36px;
  max-width: 740px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 480px) {
  /* line 42, ../_sass/epic.scss */
  article.post {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 55, ../_sass/epic.scss */
article.post figure.code {
  float: none;
}
/* line 60, ../_sass/epic.scss */
article.post p code, article.post li code {
  border: none;
  font-size: 0.6em;
  background: #f6f6f6;
}
/* line 66, ../_sass/epic.scss */
article.post p {
  padding-bottom: 1.25em;
}
/* line 70, ../_sass/epic.scss */
article.post blockquote > p:last-child {
  padding-bottom: 0;
}
/* line 74, ../_sass/epic.scss */
article.post p > img {
  width: 100%;
  text-align: center;
}
/* line 79, ../_sass/epic.scss */
article.post p > img.headline {
  position: relative;
  left: -60px;
  right: -60px;
  top: 0;
  max-width: calc(100% + 60px);
}
/* line 87, ../_sass/epic.scss */
article.post p > img.callout {
  width: 100%;
  text-align: center;
}
/* line 92, ../_sass/epic.scss */
article.post h1 {
  font-size: 48px;
  font-weight: normal;
  line-height: 48px;
}
/* line 98, ../_sass/epic.scss */
article.post h2 {
  font-size: 36px;
  font-weight: normal;
  line-height: 58px;
}
/* line 104, ../_sass/epic.scss */
article.post ul {
  padding-bottom: 1.25em;
}
/* line 107, ../_sass/epic.scss */
article.post ul li {
  list-style-type: circle;
  display: list-item;
}
/* line 114, ../_sass/epic.scss */
article.post > table, article.post > blockquote > table {
  margin: 0 auto;
  padding: 30px 0;
}

/* line 120, ../_sass/epic.scss */
body > div > div .comment {
  background-image: url(/images/epic/comment-header.svg);
  background-repeat: no-repeat;
  background-position: 60px 10px;
  margin-bottom: 20px;
}
/* line 127, ../_sass/epic.scss */
body > div > div .comment .comment-header {
  color: #999;
}
/* line 131, ../_sass/epic.scss */
body > div > div .comment .comment-username {
  font-weight: bold;
}
/* line 135, ../_sass/epic.scss */
body > div > div .comment a.comment-date {
  color: #999;
}
/* line 137, ../_sass/epic.scss */
body > div > div .comment a.comment-date:hover {
  color: #444;
}
/* line 142, ../_sass/epic.scss */
body > div > div .comment .comment-body {
  padding-left: 90px;
  padding-top: 10px;
}
/* line 147, ../_sass/epic.scss */
body > div > div .comment .comment-reactions {
  padding-left: 90px;
}
/* line 151, ../_sass/epic.scss */
body > div > div .comment img {
  border-radius: 3px !important;
  vertical-align: middle;
  margin-right: 50px;
}
/* line 157, ../_sass/epic.scss */
body > div > div .comment p {
  padding-bottom: 0.75em;
}
/* line 161, ../_sass/epic.scss */
body > div > div .comment p:last-child {
  padding-bottom: 0em;
}
/* line 165, ../_sass/epic.scss */
body > div > div .comment .emoji {
  margin-right: 5px;
  vertical-align: bottom;
  font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* line 171, ../_sass/epic.scss */
body > div > div .comment img.emoji {
  vertical-align: middle;
}
/* line 175, ../_sass/epic.scss */
body > div > div .comment .emoji-wrapper {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px lightgrey solid;
  vertical-align: middle;
}
/* line 182, ../_sass/epic.scss */
body > div > div .comment .emoji-wrapper:last-child {
  border: none;
}

/* line 187, ../_sass/epic.scss */
body > div > div > footer {
  border-top: 1px lightgrey solid;
  padding-top: 30px;
}
/* line 191, ../_sass/epic.scss */
body > div > div > footer article {
  display: flex;
}
/* line 194, ../_sass/epic.scss */
body > div > div > footer article section {
  flex: 1;
  border-left: 1px lightgrey solid;
  padding-right: 24px;
  padding-left: 24px;
}
/* line 200, ../_sass/epic.scss */
body > div > div > footer article section h4 {
  margin-top: 0;
}
/* line 204, ../_sass/epic.scss */
body > div > div > footer article section p:last-child {
  margin-bottom: 0;
}
/* line 209, ../_sass/epic.scss */
body > div > div > footer article section:first-child {
  border-left: none;
}

/* line 216, ../_sass/epic.scss */
.split-desktop-only {
  display: flex;
  flex-flow: row;
}

@media screen and (max-width: 480px) {
  /* line 222, ../_sass/epic.scss */
  body {
    padding: 20px;
  }

  /* line 226, ../_sass/epic.scss */
  body > div > div > header {
    padding-top: 0;
  }
  /* line 229, ../_sass/epic.scss */
  body > div > div > header li {
    font-size: 18px;
  }

  /* line 234, ../_sass/epic.scss */
  body > div > div > section > header#page h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 800px) {
  /* line 240, ../_sass/epic.scss */
  body > div > div > section > header#page {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  /* line 245, ../_sass/epic.scss */
  body > div > div > footer article {
    flex-direction: column;
  }
  /* line 247, ../_sass/epic.scss */
  body > div > div > footer article section {
    padding-top: 20px;
  }

  /* line 251, ../_sass/epic.scss */
  .split-desktop-only {
    flex-flow: column;
  }
}
/* line 258, ../_sass/epic.scss */
.pre-code .gi, html .gist .gist-file .gist-syntax .gist-highlight pre .gi, .highlight code .gi {
  background-color: #befed7 !important;
}

/* line 262, ../_sass/epic.scss */
.pre-code .gd, html .gist .gist-file .gist-syntax .gist-highlight pre .gd, .highlight code .gd {
  background-color: #ffd8d3 !important;
}

/* line 266, ../_sass/epic.scss */
ol {
  list-style-type: upper-roman;
}
/* line 267, ../_sass/epic.scss */
ol li {
  display: list-item;
}

/* line 272, ../_sass/epic.scss */
.desktop-only {
  display: flex;
}

/* line 276, ../_sass/epic.scss */
.mobile-only {
  display: none;
}

@media only screen and (max-device-width: 667px) {
  /* line 281, ../_sass/epic.scss */
  .desktop-only {
    display: none !important;
  }

  /* line 285, ../_sass/epic.scss */
  .mobile-only {
    display: block !important;
  }
}
