/* line 1, ../_sass/epic.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, ../_sass/epic.scss */
body > div > div {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 11, ../_sass/epic.scss */
body > div > div > header {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
/* line 16, ../_sass/epic.scss */
body > div > div > header ul li:first-child {
  font-weight: bold;
}

/* line 21, ../_sass/epic.scss */
body > div > div > section > header#page {
  margin-top: 160px;
  margin-bottom: 160px;
}
/* line 26, ../_sass/epic.scss */
body > div > div > section > header#page h1 {
  font-size: 64px;
  font-weight: 400;
}
/* line 31, ../_sass/epic.scss */
body > div > div > section > header#page h3 {
  font-size: 22px;
  font-weight: 400;
}

/* line 37, ../_sass/epic.scss */
article.post {
  font-size: 22px;
  line-height: 36px;
  max-width: 740px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 480px) {
  /* line 37, ../_sass/epic.scss */
  article.post {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 50, ../_sass/epic.scss */
article.post figure.code {
  float: none;
}
/* line 54, ../_sass/epic.scss */
article.post p {
  padding-bottom: 1.25em;
}
/* line 58, ../_sass/epic.scss */
article.post p > img {
  width: 100%;
  text-align: center;
}
/* line 63, ../_sass/epic.scss */
article.post p > img.headline {
  position: relative;
  left: -60px;
  right: -60px;
  top: 0;
  max-width: calc(100% + 60px);
}
/* line 71, ../_sass/epic.scss */
article.post p > img.callout {
  width: 100%;
  text-align: center;
}
/* line 76, ../_sass/epic.scss */
article.post h1 {
  font-size: 48px;
  font-weight: normal;
  line-height: 48px;
}
/* line 82, ../_sass/epic.scss */
article.post h2 {
  font-size: 36px;
  font-weight: normal;
  line-height: 58px;
}
/* line 88, ../_sass/epic.scss */
article.post ul {
  padding-bottom: 1.25em;
}
/* line 91, ../_sass/epic.scss */
article.post ul li {
  list-style-type: circle;
  display: list-item;
}
/* line 98, ../_sass/epic.scss */
article.post > table, article.post > blockquote > table {
  margin: 0 auto;
  padding: 30px 0;
}

/* line 104, ../_sass/epic.scss */
body > div > div .comment {
  background-image: url(/images/epic/comment-header.svg);
  background-repeat: no-repeat;
  background-position: 60px 10px;
  margin-bottom: 20px;
}
/* line 111, ../_sass/epic.scss */
body > div > div .comment .comment-header {
  color: #999;
}
/* line 115, ../_sass/epic.scss */
body > div > div .comment .comment-username {
  font-weight: bold;
}
/* line 119, ../_sass/epic.scss */
body > div > div .comment a.comment-date {
  color: #999;
}
/* line 121, ../_sass/epic.scss */
body > div > div .comment a.comment-date:hover {
  color: #444;
}
/* line 126, ../_sass/epic.scss */
body > div > div .comment .comment-body {
  padding-left: 90px;
  padding-top: 10px;
}
/* line 131, ../_sass/epic.scss */
body > div > div .comment .comment-reactions {
  padding-left: 90px;
}
/* line 135, ../_sass/epic.scss */
body > div > div .comment img {
  border-radius: 3px !important;
  vertical-align: middle;
  margin-right: 50px;
}
/* line 141, ../_sass/epic.scss */
body > div > div .comment p {
  padding-bottom: 0.75em;
}
/* line 145, ../_sass/epic.scss */
body > div > div .comment p:last-child {
  padding-bottom: 0em;
}
/* line 149, ../_sass/epic.scss */
body > div > div .comment .emoji {
  margin-right: 5px;
  vertical-align: bottom;
  font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* line 155, ../_sass/epic.scss */
body > div > div .comment .emoji-wrapper {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px lightgrey solid;
  vertical-align: middle;
}
/* line 162, ../_sass/epic.scss */
body > div > div .comment .emoji-wrapper:last-child {
  border: none;
}

/* line 167, ../_sass/epic.scss */
body > div > div > footer {
  border-top: 1px lightgrey solid;
  padding-top: 30px;
}
/* line 171, ../_sass/epic.scss */
body > div > div > footer article {
  display: flex;
}
/* line 174, ../_sass/epic.scss */
body > div > div > footer article section {
  flex: 1;
  border-left: 1px lightgrey solid;
  padding-right: 24px;
  padding-left: 24px;
}
/* line 180, ../_sass/epic.scss */
body > div > div > footer article section h4 {
  margin-top: 0;
}
/* line 184, ../_sass/epic.scss */
body > div > div > footer article section p:last-child {
  margin-bottom: 0;
}
/* line 189, ../_sass/epic.scss */
body > div > div > footer article section:first-child {
  border-left: none;
}

/* line 196, ../_sass/epic.scss */
.split-desktop-only {
  display: flex;
  flex-flow: row;
}

@media screen and (max-width: 480px) {
  /* line 202, ../_sass/epic.scss */
  body {
    padding: 20px;
  }

  /* line 206, ../_sass/epic.scss */
  body > div > div > header {
    padding-top: 0;
  }
  /* line 209, ../_sass/epic.scss */
  body > div > div > header li {
    font-size: 18px;
  }

  /* line 214, ../_sass/epic.scss */
  body > div > div > section > header#page h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 800px) {
  /* line 220, ../_sass/epic.scss */
  body > div > div > section > header#page {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  /* line 225, ../_sass/epic.scss */
  body > div > div > footer article {
    flex-direction: column;
  }
  /* line 227, ../_sass/epic.scss */
  body > div > div > footer article section {
    padding-top: 20px;
  }

  /* line 231, ../_sass/epic.scss */
  .split-desktop-only {
    flex-flow: column;
  }
}
