/* line 1, ../_sass/epic.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, ../_sass/epic.scss */
body > div > div {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 11, ../_sass/epic.scss */
body > div > div > header {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
/* line 16, ../_sass/epic.scss */
body > div > div > header ul li:first-child {
  font-weight: bold;
}

/* line 21, ../_sass/epic.scss */
body > div > div > section > header#page {
  margin-top: 160px;
  margin-bottom: 160px;
}
/* line 26, ../_sass/epic.scss */
body > div > div > section > header#page h1 {
  font-size: 64px;
  font-weight: 400;
}
/* line 31, ../_sass/epic.scss */
body > div > div > section > header#page h3 {
  font-size: 22px;
  font-weight: 400;
}

/* line 37, ../_sass/epic.scss */
article.post {
  font-size: 22px;
  line-height: 36px;
  max-width: 740px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 45, ../_sass/epic.scss */
article.post figure.code {
  float: none;
}
/* line 49, ../_sass/epic.scss */
article.post p {
  padding-bottom: 1.25em;
}
/* line 53, ../_sass/epic.scss */
article.post p > img {
  width: 100%;
  text-align: center;
}
/* line 58, ../_sass/epic.scss */
article.post p > img.headline {
  position: relative;
  left: -60px;
  right: -60px;
  top: 0;
  max-width: calc(100% + 60px);
}
/* line 66, ../_sass/epic.scss */
article.post p > img.callout {
  width: 100%;
  text-align: center;
}
/* line 71, ../_sass/epic.scss */
article.post h1 {
  font-size: 48px;
  font-weight: normal;
  line-height: 48px;
}
/* line 77, ../_sass/epic.scss */
article.post h2 {
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
}
/* line 83, ../_sass/epic.scss */
article.post ul {
  padding-bottom: 1.25em;
}
/* line 86, ../_sass/epic.scss */
article.post ul li {
  list-style-type: circle;
  display: list-item;
}
/* line 93, ../_sass/epic.scss */
article.post > table, article.post > blockquote > table {
  margin: 0 auto;
  padding: 30px 0;
}

/* line 99, ../_sass/epic.scss */
body > div > div .comment {
  background-image: url(/images/epic/comment-header.svg);
  background-repeat: no-repeat;
  background-position: 60px 10px;
  margin-bottom: 20px;
}
/* line 106, ../_sass/epic.scss */
body > div > div .comment .comment-header {
  color: #999;
}
/* line 110, ../_sass/epic.scss */
body > div > div .comment .comment-username {
  font-weight: bold;
}
/* line 114, ../_sass/epic.scss */
body > div > div .comment a.comment-date {
  color: #999;
}
/* line 116, ../_sass/epic.scss */
body > div > div .comment a.comment-date:hover {
  color: #444;
}
/* line 121, ../_sass/epic.scss */
body > div > div .comment .comment-body {
  padding-left: 90px;
  padding-top: 10px;
}
/* line 126, ../_sass/epic.scss */
body > div > div .comment img {
  border-radius: 3px !important;
  vertical-align: middle;
  margin-right: 50px;
}
/* line 132, ../_sass/epic.scss */
body > div > div .comment p {
  padding-bottom: 0.75em;
}

/* line 137, ../_sass/epic.scss */
body > div > div > footer {
  border-top: 1px lightgrey solid;
  padding-top: 30px;
}
/* line 141, ../_sass/epic.scss */
body > div > div > footer article {
  display: flex;
}
/* line 144, ../_sass/epic.scss */
body > div > div > footer article section {
  flex: 1;
  border-left: 1px lightgrey solid;
  padding-right: 24px;
  padding-left: 24px;
}
/* line 150, ../_sass/epic.scss */
body > div > div > footer article section h4 {
  margin-top: 0;
}
/* line 154, ../_sass/epic.scss */
body > div > div > footer article section p:last-child {
  margin-bottom: 0;
}
/* line 159, ../_sass/epic.scss */
body > div > div > footer article section:first-child {
  border-left: none;
}

@media screen and (max-width: 800px) {
  /* line 168, ../_sass/epic.scss */
  body header {
    padding: 40px 20px;
  }

  /* line 173, ../_sass/epic.scss */
  body > div > div > footer article {
    flex-direction: column;
  }
  /* line 175, ../_sass/epic.scss */
  body > div > div > footer article section {
    padding-top: 20px;
  }
}
