/* To use the light Solarized highlighting theme uncomment the following line */
/* If you want to tweak the Solarized colors you can do that here */
/* Non highlighted code colors */
/* non highlighted code colors */
/* line 6, ../_sass/partials/_syntax.scss */
.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
  border: 1px solid #05232b !important;
}
/* line 7, ../_sass/partials/_syntax.scss */
.highlight table td.code, html .gist .gist-file .gist-syntax .gist-highlight table td.code {
  width: 100%;
}
/* line 8, ../_sass/partials/_syntax.scss */
.highlight .line-numbers, html .gist .gist-file .gist-syntax .gist-highlight .line-numbers {
  text-align: right;
  font-size: 13px;
  line-height: 1.45em;
  background: #073642 url('../images/noise.png?1439044527') top left !important;
  border-right: 1px solid #00232c !important;
  -moz-box-shadow: #083e4b -1px 0 inset;
  -webkit-box-shadow: #083e4b -1px 0 inset;
  box-shadow: #083e4b -1px 0 inset;
  text-shadow: #021014 0 -1px;
  padding: .8em !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 23, ../_sass/partials/_syntax.scss */
.highlight .line-numbers span, html .gist .gist-file .gist-syntax .gist-highlight .line-numbers span {
  color: #586e75 !important;
}

/* line 29, ../_sass/partials/_syntax.scss */
figure.code, .gist-file, pre {
  -moz-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
}
/* line 31, ../_sass/partials/_syntax.scss */
figure.code .highlight pre, .gist-file .highlight pre, pre .highlight pre {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 34, ../_sass/partials/_syntax.scss */
html .gist .gist-file {
  margin-bottom: 1.8em;
  position: relative;
  border: none;
  padding-top: 26px !important;
}
/* line 39, ../_sass/partials/_syntax.scss */
html .gist .gist-file .gist-syntax {
  border-bottom: 0 !important;
  background: none !important;
}
/* line 42, ../_sass/partials/_syntax.scss */
html .gist .gist-file .gist-syntax .gist-highlight {
  background: #002b36 !important;
}
/* line 49, ../_sass/partials/_syntax.scss */
html .gist .gist-file .gist-meta {
  padding: .6em 0.8em;
  border: 1px solid #083e4b !important;
  color: #586e75;
  font-size: .7em !important;
  background: #073642 url('../images/noise.png?1439044527') top left;
  line-height: 1.5em;
}
/* line 62, ../_sass/partials/_syntax.scss */
html .gist .gist-file .gist-meta a {
  color: #76888b !important;
  text-decoration: none;
}
/* line 4, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_hover-link.scss */
html .gist .gist-file .gist-meta a:hover, html .gist .gist-file .gist-meta a:focus {
  text-decoration: underline;
}
/* line 65, ../_sass/partials/_syntax.scss */
html .gist .gist-file .gist-meta a:hover {
  color: #93a1a1 !important;
}
/* line 67, ../_sass/partials/_syntax.scss */
html .gist .gist-file .gist-meta a[href*='#file'] {
  position: absolute;
  top: 0;
  left: 0;
  right: -10px;
  color: #474747 !important;
}
/* line 71, ../_sass/partials/_syntax.scss */
html .gist .gist-file .gist-meta a[href*='#file']:hover {
  color: #6a00cc !important;
}
/* line 73, ../_sass/partials/_syntax.scss */
html .gist .gist-file .gist-meta a[href*=raw] {
  top: .4em;
}

/* line 79, ../_sass/partials/_syntax.scss */
pre {
  background: #002b36 url('../images/noise.png?1439044527') top left;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  border: 1px solid #05232b;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  color: #93a1a1;
  overflow: auto;
}

/* line 93, ../_sass/partials/_syntax.scss */
h3.filename + pre {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 97, ../_sass/partials/_syntax.scss */
p code, li code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  font-size: .8em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 .3em;
  margin: -1px 0;
}
/* line 110, ../_sass/partials/_syntax.scss */
p pre code, li pre code {
  font-size: 1em !important;
  background: none;
  border: none;
}

/* line 113, ../_sass/partials/_syntax.scss */
.pre-code, html .gist .gist-file .gist-syntax .gist-highlight pre, .highlight code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em !important;
  overflow-x: auto;
  line-height: 1.45em;
  background: #002b36 url('../images/noise.png?1439044527') top left !important;
  color: #93a1a1 !important;
  /* Comment */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Operator */
  /* Operator.Word */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable */
  /* Literal.Number.Float */
  /* Literal.Number */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.String */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Interpol */
  /* Literal.String.Regex */
  /* Literal.String.Single */
}
/* line 17, ../_sass/base/_utilities.scss */
.pre-code *::-moz-selection, html .gist .gist-file .gist-syntax .gist-highlight pre *::-moz-selection, .highlight code *::-moz-selection {
  background: #386774;
  color: inherit;
  text-shadow: #002b36 0 1px;
}
/* line 18, ../_sass/base/_utilities.scss */
.pre-code *::-webkit-selection, html .gist .gist-file .gist-syntax .gist-highlight pre *::-webkit-selection, .highlight code *::-webkit-selection {
  background: #386774;
  color: inherit;
  text-shadow: #002b36 0 1px;
}
/* line 19, ../_sass/base/_utilities.scss */
.pre-code *::selection, html .gist .gist-file .gist-syntax .gist-highlight pre *::selection, .highlight code *::selection {
  background: #386774;
  color: inherit;
  text-shadow: #002b36 0 1px;
}
/* line 124, ../_sass/partials/_syntax.scss */
.pre-code span, html .gist .gist-file .gist-syntax .gist-highlight pre span, .highlight code span {
  color: #93a1a1 !important;
}
/* line 125, ../_sass/partials/_syntax.scss */
.pre-code span, html .gist .gist-file .gist-syntax .gist-highlight pre span, .highlight code span {
  font-style: normal !important;
  font-weight: normal !important;
}
/* line 127, ../_sass/partials/_syntax.scss */
.pre-code .c, html .gist .gist-file .gist-syntax .gist-highlight pre .c, .highlight code .c {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 128, ../_sass/partials/_syntax.scss */
.pre-code .cm, html .gist .gist-file .gist-syntax .gist-highlight pre .cm, .highlight code .cm {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 129, ../_sass/partials/_syntax.scss */
.pre-code .cp, html .gist .gist-file .gist-syntax .gist-highlight pre .cp, .highlight code .cp {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 130, ../_sass/partials/_syntax.scss */
.pre-code .c1, html .gist .gist-file .gist-syntax .gist-highlight pre .c1, .highlight code .c1 {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 131, ../_sass/partials/_syntax.scss */
.pre-code .cs, html .gist .gist-file .gist-syntax .gist-highlight pre .cs, .highlight code .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important;
}
/* line 132, ../_sass/partials/_syntax.scss */
.pre-code .err, html .gist .gist-file .gist-syntax .gist-highlight pre .err, .highlight code .err {
  color: #dc322f !important;
  background: none !important;
}
/* line 133, ../_sass/partials/_syntax.scss */
.pre-code .k, html .gist .gist-file .gist-syntax .gist-highlight pre .k, .highlight code .k {
  color: #cb4b16 !important;
}
/* line 134, ../_sass/partials/_syntax.scss */
.pre-code .o, html .gist .gist-file .gist-syntax .gist-highlight pre .o, .highlight code .o {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
/* line 135, ../_sass/partials/_syntax.scss */
.pre-code .p, html .gist .gist-file .gist-syntax .gist-highlight pre .p, .highlight code .p {
  color: #93a1a1 !important;
}
/* line 136, ../_sass/partials/_syntax.scss */
.pre-code .ow, html .gist .gist-file .gist-syntax .gist-highlight pre .ow, .highlight code .ow {
  color: #2aa198 !important;
  font-weight: bold !important;
}
/* line 137, ../_sass/partials/_syntax.scss */
.pre-code .gd, html .gist .gist-file .gist-syntax .gist-highlight pre .gd, .highlight code .gd {
  color: #93a1a1 !important;
  background-color: #372d34 !important;
  display: inline-block;
}
/* line 138, ../_sass/partials/_syntax.scss */
.pre-code .gd .x, html .gist .gist-file .gist-syntax .gist-highlight pre .gd .x, .highlight code .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d34 !important;
  display: inline-block;
}
/* line 139, ../_sass/partials/_syntax.scss */
.pre-code .ge, html .gist .gist-file .gist-syntax .gist-highlight pre .ge, .highlight code .ge {
  color: #93a1a1 !important;
  font-style: italic !important;
}
/* line 141, ../_sass/partials/_syntax.scss */
.pre-code .gh, html .gist .gist-file .gist-syntax .gist-highlight pre .gh, .highlight code .gh {
  color: #586e75 !important;
}
/* line 142, ../_sass/partials/_syntax.scss */
.pre-code .gi, html .gist .gist-file .gist-syntax .gist-highlight pre .gi, .highlight code .gi {
  color: #93a1a1 !important;
  background-color: #1b412b !important;
  display: inline-block;
}
/* line 143, ../_sass/partials/_syntax.scss */
.pre-code .gi .x, html .gist .gist-file .gist-syntax .gist-highlight pre .gi .x, .highlight code .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block;
}
/* line 146, ../_sass/partials/_syntax.scss */
.pre-code .gs, html .gist .gist-file .gist-syntax .gist-highlight pre .gs, .highlight code .gs {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
/* line 147, ../_sass/partials/_syntax.scss */
.pre-code .gu, html .gist .gist-file .gist-syntax .gist-highlight pre .gu, .highlight code .gu {
  color: #6c71c4 !important;
}
/* line 149, ../_sass/partials/_syntax.scss */
.pre-code .kc, html .gist .gist-file .gist-syntax .gist-highlight pre .kc, .highlight code .kc {
  color: #859900 !important;
  font-weight: bold !important;
}
/* line 150, ../_sass/partials/_syntax.scss */
.pre-code .kd, html .gist .gist-file .gist-syntax .gist-highlight pre .kd, .highlight code .kd {
  color: #268bd2 !important;
}
/* line 151, ../_sass/partials/_syntax.scss */
.pre-code .kp, html .gist .gist-file .gist-syntax .gist-highlight pre .kp, .highlight code .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}
/* line 152, ../_sass/partials/_syntax.scss */
.pre-code .kr, html .gist .gist-file .gist-syntax .gist-highlight pre .kr, .highlight code .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}
/* line 153, ../_sass/partials/_syntax.scss */
.pre-code .kt, html .gist .gist-file .gist-syntax .gist-highlight pre .kt, .highlight code .kt {
  color: #2aa198 !important;
}
/* line 154, ../_sass/partials/_syntax.scss */
.pre-code .n, html .gist .gist-file .gist-syntax .gist-highlight pre .n, .highlight code .n {
  color: #268bd2 !important;
}
/* line 155, ../_sass/partials/_syntax.scss */
.pre-code .na, html .gist .gist-file .gist-syntax .gist-highlight pre .na, .highlight code .na {
  color: #268bd2 !important;
}
/* line 156, ../_sass/partials/_syntax.scss */
.pre-code .nb, html .gist .gist-file .gist-syntax .gist-highlight pre .nb, .highlight code .nb {
  color: #859900 !important;
}
/* line 157, ../_sass/partials/_syntax.scss */
.pre-code .nc, html .gist .gist-file .gist-syntax .gist-highlight pre .nc, .highlight code .nc {
  color: #d33682 !important;
}
/* line 158, ../_sass/partials/_syntax.scss */
.pre-code .no, html .gist .gist-file .gist-syntax .gist-highlight pre .no, .highlight code .no {
  color: #b58900 !important;
}
/* line 160, ../_sass/partials/_syntax.scss */
.pre-code .nl, html .gist .gist-file .gist-syntax .gist-highlight pre .nl, .highlight code .nl {
  color: #859900 !important;
}
/* line 161, ../_sass/partials/_syntax.scss */
.pre-code .ne, html .gist .gist-file .gist-syntax .gist-highlight pre .ne, .highlight code .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 162, ../_sass/partials/_syntax.scss */
.pre-code .nf, html .gist .gist-file .gist-syntax .gist-highlight pre .nf, .highlight code .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 163, ../_sass/partials/_syntax.scss */
.pre-code .nn, html .gist .gist-file .gist-syntax .gist-highlight pre .nn, .highlight code .nn {
  color: #b58900 !important;
}
/* line 164, ../_sass/partials/_syntax.scss */
.pre-code .nt, html .gist .gist-file .gist-syntax .gist-highlight pre .nt, .highlight code .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 165, ../_sass/partials/_syntax.scss */
.pre-code .nx, html .gist .gist-file .gist-syntax .gist-highlight pre .nx, .highlight code .nx {
  color: #b58900 !important;
}
/* line 168, ../_sass/partials/_syntax.scss */
.pre-code .vg, html .gist .gist-file .gist-syntax .gist-highlight pre .vg, .highlight code .vg {
  color: #268bd2 !important;
}
/* line 169, ../_sass/partials/_syntax.scss */
.pre-code .vi, html .gist .gist-file .gist-syntax .gist-highlight pre .vi, .highlight code .vi {
  color: #268bd2 !important;
}
/* line 170, ../_sass/partials/_syntax.scss */
.pre-code .nv, html .gist .gist-file .gist-syntax .gist-highlight pre .nv, .highlight code .nv {
  color: #268bd2 !important;
}
/* line 172, ../_sass/partials/_syntax.scss */
.pre-code .mf, html .gist .gist-file .gist-syntax .gist-highlight pre .mf, .highlight code .mf {
  color: #2aa198 !important;
}
/* line 173, ../_sass/partials/_syntax.scss */
.pre-code .m, html .gist .gist-file .gist-syntax .gist-highlight pre .m, .highlight code .m {
  color: #2aa198 !important;
}
/* line 174, ../_sass/partials/_syntax.scss */
.pre-code .mh, html .gist .gist-file .gist-syntax .gist-highlight pre .mh, .highlight code .mh {
  color: #2aa198 !important;
}
/* line 175, ../_sass/partials/_syntax.scss */
.pre-code .mi, html .gist .gist-file .gist-syntax .gist-highlight pre .mi, .highlight code .mi {
  color: #2aa198 !important;
}
/* line 177, ../_sass/partials/_syntax.scss */
.pre-code .s, html .gist .gist-file .gist-syntax .gist-highlight pre .s, .highlight code .s {
  color: #2aa198 !important;
}
/* line 180, ../_sass/partials/_syntax.scss */
.pre-code .sd, html .gist .gist-file .gist-syntax .gist-highlight pre .sd, .highlight code .sd {
  color: #2aa198 !important;
}
/* line 181, ../_sass/partials/_syntax.scss */
.pre-code .s2, html .gist .gist-file .gist-syntax .gist-highlight pre .s2, .highlight code .s2 {
  color: #2aa198 !important;
}
/* line 182, ../_sass/partials/_syntax.scss */
.pre-code .se, html .gist .gist-file .gist-syntax .gist-highlight pre .se, .highlight code .se {
  color: #dc322f !important;
}
/* line 184, ../_sass/partials/_syntax.scss */
.pre-code .si, html .gist .gist-file .gist-syntax .gist-highlight pre .si, .highlight code .si {
  color: #268bd2 !important;
}
/* line 186, ../_sass/partials/_syntax.scss */
.pre-code .sr, html .gist .gist-file .gist-syntax .gist-highlight pre .sr, .highlight code .sr {
  color: #2aa198 !important;
}
/* line 187, ../_sass/partials/_syntax.scss */
.pre-code .s1, html .gist .gist-file .gist-syntax .gist-highlight pre .s1, .highlight code .s1 {
  color: #2aa198 !important;
}
/* line 190, ../_sass/partials/_syntax.scss */
.pre-code div .gd, html .gist .gist-file .gist-syntax .gist-highlight pre div .gd, .highlight code div .gd, .pre-code div .gd .x, html .gist .gist-file .gist-syntax .gist-highlight pre div .gd .x, .highlight code div .gd .x, .pre-code div .gi, html .gist .gist-file .gist-syntax .gist-highlight pre div .gi, .highlight code div .gi, .pre-code div .gi .x, html .gist .gist-file .gist-syntax .gist-highlight pre div .gi .x, .highlight code div .gi .x {
  display: inline-block;
  width: 100%;
}

/* line 193, ../_sass/partials/_syntax.scss */
.highlight, .gist-highlight {
  margin-bottom: 1.8em;
  background: #002b36;
  overflow-y: hidden;
  overflow-x: auto;
}
/* line 194, ../_sass/partials/_syntax.scss */
.highlight pre, .gist-highlight pre {
  background: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  border: none;
  padding: 0;
  margin-bottom: 0;
}

/* line 209, ../_sass/partials/_syntax.scss */
pre::-webkit-scrollbar, .highlight::-webkit-scrollbar, .gist-highlight::-webkit-scrollbar {
  height: .5em;
  background: rgba(255, 255, 255, 0.15);
}
/* line 210, ../_sass/partials/_syntax.scss */
pre::-webkit-scrollbar-thumb:horizontal, .highlight::-webkit-scrollbar-thumb:horizontal, .gist-highlight::-webkit-scrollbar-thumb:horizontal {
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 213, ../_sass/partials/_syntax.scss */
.highlight code {
  background: #000;
}

/* line 214, ../_sass/partials/_syntax.scss */
figure.code {
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em;
}
/* line 219, ../_sass/partials/_syntax.scss */
figure.code pre {
  margin-bottom: 0;
}
/* line 220, ../_sass/partials/_syntax.scss */
figure.code figcaption {
  position: relative;
}
/* line 225, ../_sass/partials/_syntax.scss */
figure.code .highlight {
  margin-bottom: 0;
}

/* line 230, ../_sass/partials/_syntax.scss */
.code-title, html .gist .gist-file .gist-meta a[href*='#file'], h3.filename, figure.code figcaption {
  text-align: center;
  font-size: 13px;
  line-height: 2em;
  text-shadow: #cbcccc 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  background: #aaaaaa url('../images/code_bg.png?1439044527') top repeat-x;
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
  border-bottom: 0;
}

/* line 248, ../_sass/partials/_syntax.scss */
.download-source, html .gist .gist-file .gist-meta a[href*=raw], figure.code figcaption a {
  position: absolute;
  right: .8em;
  text-decoration: none;
  color: #666 !important;
  z-index: 1;
  font-size: 13px;
  text-shadow: #cbcccc 0 1px 0;
  padding-left: 3em;
}
/* line 4, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_hover-link.scss */
.download-source:hover, html .gist .gist-file .gist-meta a[href*=raw]:hover, figure.code figcaption a:hover, .download-source:focus, html .gist .gist-file .gist-meta a[href*=raw]:focus, figure.code figcaption a:focus {
  text-decoration: underline;
}

/* line 5, ../_sass/custom/_styles.scss */
p code, li code {
  font-size: 1em;
}

/* line 9, ../_sass/custom/_styles.scss */
article img.screenshot {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: #fff 0.5em solid;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 3px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 3px 8px;
}

/* line 13, ../_sass/custom/_styles.scss */
blockquote {
  font-style: italic;
}

/* line 43, ../_sass/screen.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* line 51, ../_sass/screen.scss */
body {
  background-color: #FFFFFF;
  color: #000;
  font-family: "Adobe Garamond W08", "adobe-garamond-pro", "AGaramondPro-Regular", "Times New Roman", "Times", "serif";
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background-image: url(/images/gradient.png);
  background-repeat: repeat-x;
  background-position: 0px 0px;
  max-width: none;
  margin: auto;
  line-height: normal;
  font-size: 20px;
}
@media screen and (max-width: 799px) {
  /* line 51, ../_sass/screen.scss */
  body {
    margin: 20px;
  }
}
/* line 69, ../_sass/screen.scss */
body a {
  text-decoration: none;
}

/* line 74, ../_sass/screen.scss */
h1, h2, h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin: 0;
}
/* line 79, ../_sass/screen.scss */
h1 a, h2 a, h3 a {
  text-decoration: none;
}

/* line 84, ../_sass/screen.scss */
ul {
  padding: 0;
  margin: 0;
  list-style: square inside;
  overflow: hidden;
}

/* line 91, ../_sass/screen.scss */
li {
  margin: 0;
  padding: 0;
  display: block;
}

/* line 97, ../_sass/screen.scss */
figure {
  display: block;
  margin: 0px;
  padding: 0px;
}

/* line 103, ../_sass/screen.scss */
figure figcaption {
  display: block;
}

/* line 108, ../_sass/screen.scss */
figure.code figcaption {
  display: block;
}
/* line 111, ../_sass/screen.scss */
figure.code pre {
  margin-bottom: 0px;
  margin-top: 0px;
}

/* line 117, ../_sass/screen.scss */
a, a:hover, a:visited, a:active {
  color: #000;
}

/* line 121, ../_sass/screen.scss */
img {
  max-width: 100%;
  margin: 20px 0;
  position: relative;
  z-index: 1;
  top: -1px;
}

/* line 129, ../_sass/screen.scss */
blockquote {
  border-left: 2px solid black;
  margin: 0 0 0 -15px;
  padding: 0 0 0 20px;
}

/* line 135, ../_sass/screen.scss */
#logo-container {
  width: 100%;
  bottom: 40px;
  position: fixed;
}
/* line 140, ../_sass/screen.scss */
#logo-container #lrg-mark img {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 800px) {
  /* line 139, ../_sass/screen.scss */
  #logo-container #lrg-mark {
    display: block;
    height: 40px;
    width: 95%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 799px) {
  /* line 139, ../_sass/screen.scss */
  #logo-container #lrg-mark {
    display: none;
  }
}

/* line 160, ../_sass/screen.scss */
.sticky-wrapper {
  min-height: 221px !important;
}

/* line 164, ../_sass/screen.scss */
header#banner {
  width: 100%;
  height: 221px;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  top: 0px;
  background-image: url(/images/gradient.png);
  background-repeat: repeat-x;
  background-position: 0px 0px;
  background-color: #FFFFFF;
  position: fixed;
}
/* line 177, ../_sass/screen.scss */
header#banner.stuck {
  top: -100px;
}
/* line 181, ../_sass/screen.scss */
header#banner #header {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  position: relative;
  height: 180px;
  border-bottom: 1px solid #000;
}
/* line 191, ../_sass/screen.scss */
header#banner #header .header-navigation {
  margin-left: 250px;
  height: 100px;
  position: static;
}
/* line 195, ../_sass/screen.scss */
header#banner #header .header-navigation ul {
  float: left;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* line 201, ../_sass/screen.scss */
header#banner #header .header-navigation li {
  float: left;
  margin: 0 40px 0 0;
  display: block;
}
/* line 206, ../_sass/screen.scss */
header#banner #header .header-navigation a:hover {
  color: #6a00cc;
}
/* line 211, ../_sass/screen.scss */
header#banner #header .header-sticky-container {
  width: 100%;
  padding-bottom: 40px;
}
/* line 216, ../_sass/screen.scss */
header#banner #header .header-section-title {
  float: right;
}
/* line 220, ../_sass/screen.scss */
header#banner #header .header-logo {
  float: left;
  width: 50%;
  max-width: 250px;
}
/* line 226, ../_sass/screen.scss */
header#banner #header .header-search {
  margin-left: 250px;
}
/* line 228, ../_sass/screen.scss */
header#banner #header .header-search ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #000;
}
/* line 231, ../_sass/screen.scss */
header#banner #header .header-search :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000;
  opacity: 1;
}
/* line 235, ../_sass/screen.scss */
header#banner #header .header-search ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000;
  opacity: 1;
}
/* line 239, ../_sass/screen.scss */
header#banner #header .header-search :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #000;
}
/* line 242, ../_sass/screen.scss */
header#banner #header .header-search input {
  background-color: transparent;
  border: none;
  width: 100%;
  margin: 0;
  font-family: "Adobe Garamond W08", "adobe-garamond-pro", "AGaramondPro-Regular", "Times New Roman", "Times", "serif";
  color: black;
  font-size: 20px;
  outline: 1px black;
}
/* line 251, ../_sass/screen.scss */
header#banner #header .header-search input::-webkit-input-placeholder {
  font-style: italic;
}
/* line 254, ../_sass/screen.scss */
header#banner #header .header-search input::-moz-placeholder {
  font-style: italic;
}
/* line 257, ../_sass/screen.scss */
header#banner #header .header-search input:-ms-input-placeholder {
  font-style: italic;
}

/* line 265, ../_sass/screen.scss */
.header-hamburger {
  display: none;
}

@media screen and (max-width: 799px) {
  /* line 270, ../_sass/screen.scss */
  .header-hamburger {
    display: block;
  }

  /* line 273, ../_sass/screen.scss */
  header#banner {
    position: relative;
    height: 370px;
    border-bottom: 1px solid;
    max-height: 70px;
    overflow: hidden;
    -moz-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    -webkit-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
  }
  /* line 280, ../_sass/screen.scss */
  header#banner.active {
    max-height: 600px;
  }
  /* line 284, ../_sass/screen.scss */
  header#banner * {
    float: none !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
  }
  /* line 290, ../_sass/screen.scss */
  header#banner #header {
    border-bottom: 0;
    padding-top: 0;
  }
  /* line 294, ../_sass/screen.scss */
  header#banner .header-navigation {
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    position: absolute !important;
    margin-top: 92px !important;
    margin-left: 50% !important;
  }
  /* line 299, ../_sass/screen.scss */
  header#banner .header-navigation li {
    margin-bottom: 30px !important;
  }
  /* line 303, ../_sass/screen.scss */
  header#banner .header-search h2 {
    border-bottom: 1px solid;
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;
  }
  /* line 308, ../_sass/screen.scss */
  header#banner input.search {
    width: 100% !important;
  }
  /* line 312, ../_sass/screen.scss */
  header#banner #header.search-focused .header-navigation {
    opacity: 0;
  }

  /* line 317, ../_sass/screen.scss */
  #search-container {
    margin-left: 0 !important;
  }
}
/* line 322, ../_sass/screen.scss */
#main {
  display: block;
  margin-top: 40px;
}
@media screen and (min-width: 800px) {
  /* line 322, ../_sass/screen.scss */
  #main {
    width: 95%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 799px) {
  /* line 322, ../_sass/screen.scss */
  #main {
    margin-top: 0;
  }
  /* line 334, ../_sass/screen.scss */
  #main #content {
    padding-top: 30px !important;
  }
}
/* line 339, ../_sass/screen.scss */
#main #mobile_search {
  display: block;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  /* line 339, ../_sass/screen.scss */
  #main #mobile_search {
    display: none;
  }
}
/* line 353, ../_sass/screen.scss */
#main #mobile_search input {
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0 0 0 0;
  color: #000;
  font-family: "Adobe Garamond W08", "adobe-garamond-pro", "AGaramondPro-Regular", "Times New Roman", "Times", "serif";
  font-size: 17px;
  height: 1.5em;
  padding-left: 0.5em;
  width: 90%;
  border-radius: none;
}
/* line 366, ../_sass/screen.scss */
#main #mobile_search input:focus {
  outline: none;
}
/* line 369, ../_sass/screen.scss */
#main #mobile_search input::-webkit-input-placeholder {
  color: #000;
}
/* line 372, ../_sass/screen.scss */
#main #mobile_search input:-moz-placeholder {
  color: #000;
}
/* line 379, ../_sass/screen.scss */
#main .sticky-wrapper {
  height: 0px !important;
  width: auto;
  float: left;
}
/* line 385, ../_sass/screen.scss */
#main #content {
  width: 100%;
  padding-top: 50px;
}
/* line 388, ../_sass/screen.scss */
#main #content footer {
  clear: both;
}

/* line 394, ../_sass/screen.scss */
[data-twttr-id="twttr-sandbox-0"] {
  text-align: left;
  margin-bottom: 20px;
}
/* line 397, ../_sass/screen.scss */
[data-twttr-id="twttr-sandbox-0"] iframe {
  margin: 0 !important;
}

/* line 402, ../_sass/screen.scss */
article {
  display: block;
  height: 100%;
  margin-bottom: 40px;
  line-height: 1.6em;
}
@media screen and (max-width: 799px) {
  /* line 402, ../_sass/screen.scss */
  article {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
/* line 412, ../_sass/screen.scss */
article h1, article h2, article h3 {
  margin: 40px 0;
}
/* line 416, ../_sass/screen.scss */
article em {
  font-style: italic;
}
/* line 420, ../_sass/screen.scss */
article p {
  margin-top: 0px;
}
/* line 23, ../_sass/screen.scss */
article p a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 27, ../_sass/screen.scss */
article p a:active {
  text-decoration: none;
}
/* line 31, ../_sass/screen.scss */
article p a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #666;
}
/* line 427, ../_sass/screen.scss */
article p > code {
  color: #000;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  font-size: 14px;
  padding: 4px 8px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #f6f6f6;
  border: 0;
}
/* line 437, ../_sass/screen.scss */
article p.meta-paginate {
  margin-top: 70px;
}
/* line 439, ../_sass/screen.scss */
article p.meta-paginate a {
  float: left;
  clear: left;
}
@media screen and (max-width: 799px) {
  /* line 446, ../_sass/screen.scss */
  article p.meta-paginate a {
    float: none;
    clear: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
  }
}
/* line 457, ../_sass/screen.scss */
article span.fn {
  margin-bottom: 3px;
  margin-top: 3px;
}
/* line 462, ../_sass/screen.scss */
article footer {
  margin-bottom: 20px;
  clear: both;
}
/* line 23, ../_sass/screen.scss */
article footer a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 27, ../_sass/screen.scss */
article footer a:active {
  text-decoration: none;
}
/* line 31, ../_sass/screen.scss */
article footer a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #666;
}
@media screen and (min-width: 800px) {
  /* line 470, ../_sass/screen.scss */
  article .article-container {
    margin-left: 250px;
    border-bottom: 1px solid #000;
  }
}
@media screen and (max-width: 799px) {
  /* line 470, ../_sass/screen.scss */
  article .article-container {
    margin-left: 0px;
  }
}
@media screen and (min-width: 800px) {
  /* line 481, ../_sass/screen.scss */
  article .article-container-single {
    margin-left: 250px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 799px) {
  /* line 481, ../_sass/screen.scss */
  article .article-container-single {
    margin-left: 0px;
  }
}
/* line 491, ../_sass/screen.scss */
article .article-container-single li {
  display: list-item;
  margin-left: 12px;
}
@media screen and (min-width: 800px) {
  /* line 497, ../_sass/screen.scss */
  article .meta-container {
    margin-top: 0px;
    float: left;
    width: 25%;
    max-width: 180px;
    padding-right: 50px;
    min-height: 34px;
  }
}
@media screen and (max-width: 799px) {
  /* line 497, ../_sass/screen.scss */
  article .meta-container {
    float: none;
  }
}
/* line 510, ../_sass/screen.scss */
article .meta-container h2 {
  margin: 0;
}
@media screen and (min-width: 800px) {
  /* line 515, ../_sass/screen.scss */
  article .content-container {
    float: left;
    width: 55%;
  }
}
@media screen and (max-width: 799px) {
  /* line 515, ../_sass/screen.scss */
  article .content-container {
    float: none;
  }
}
@media screen and (min-width: 800px) {
  /* line 525, ../_sass/screen.scss */
  article .date-container {
    width: 15%;
    margin-left: 5%;
    float: right;
  }
}
@media screen and (max-width: 799px) {
  /* line 525, ../_sass/screen.scss */
  article .date-container {
    float: none;
  }
}
/* line 536, ../_sass/screen.scss */
article .meta {
  margin-top: 3px;
  margin-bottom: 3px;
}
/* line 23, ../_sass/screen.scss */
article .meta a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 27, ../_sass/screen.scss */
article .meta a:active {
  text-decoration: none;
}
/* line 31, ../_sass/screen.scss */
article .meta a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #666;
}

@media screen and (min-width: 800px) {
  /* line 548, ../_sass/screen.scss */
  article .article-container-single .entry-content > figure {
    margin-left: -56%;
    width: 160%;
    margin-right: 0;
    float: none;
    max-width: none;
  }
}
@media screen and (min-width: 1200px) {
  /* line 560, ../_sass/screen.scss */
  article .article-container-single .content-container {
    width: 50%;
    margin-left: 5%;
  }
  /* line 565, ../_sass/screen.scss */
  article .article-container-single .entry-content > figure {
    margin-left: -60%;
    width: 202%;
    margin-right: 0;
    float: none;
    max-width: none;
  }
}

@media screen and (min-width: 800px) {
  /* line 576, ../_sass/screen.scss */
  section.comments {
    margin-left: 250px;
  }
}
@media screen and (max-width: 799px) {
  /* line 576, ../_sass/screen.scss */
  section.comments {
    margin-left: 0px;
  }
}

/* line 586, ../_sass/screen.scss */
.sharing {
  margin-top: 30px;
}

/* line 590, ../_sass/screen.scss */
#open-source-content {
  margin-left: 250px;
}
/* line 593, ../_sass/screen.scss */
#open-source-content h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
}
/* line 23, ../_sass/screen.scss */
#open-source-content h1 a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 27, ../_sass/screen.scss */
#open-source-content h1 a:active {
  text-decoration: none;
}
/* line 31, ../_sass/screen.scss */
#open-source-content h1 a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #666;
}
/* line 603, ../_sass/screen.scss */
#open-source-content #lead {
  width: 81%;
  margin-bottom: 600px;
}
/* line 608, ../_sass/screen.scss */
#open-source-content .open-source-category-header {
  margin-top: 350px;
  border-bottom: 1px solid #000;
}
/* line 612, ../_sass/screen.scss */
#open-source-content .open-source-category-header .open-source-category-header-title {
  float: left;
  width: 180px;
  padding-right: 50px;
}
/* line 618, ../_sass/screen.scss */
#open-source-content .open-source-category-header .open-source-category-header-description {
  float: left;
  width: 55%;
}
/* line 623, ../_sass/screen.scss */
#open-source-content .open-source-category-header .open-source-category-header-updated {
  float: right;
  margin-right: 20px;
}
/* line 628, ../_sass/screen.scss */
#open-source-content .open-source-category-header footer {
  margin-bottom: 20px;
  clear: both;
}
/* line 23, ../_sass/screen.scss */
#open-source-content .open-source-category-header footer a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 27, ../_sass/screen.scss */
#open-source-content .open-source-category-header footer a:active {
  text-decoration: none;
}
/* line 31, ../_sass/screen.scss */
#open-source-content .open-source-category-header footer a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #666;
}
/* line 639, ../_sass/screen.scss */
#open-source-content .open-source-category .open-source-project {
  padding-bottom: 40px;
  margin-top: 40px;
  border-bottom: 1px solid #000;
}
/* line 645, ../_sass/screen.scss */
#open-source-content .open-source-category .open-source-featured-image {
  margin-left: 230px;
  margin-bottom: 40px;
}
/* line 651, ../_sass/screen.scss */
#open-source-content .open-source-category .open-source-title {
  margin-top: 0px;
  float: left;
  width: 180px;
  padding-right: 50px;
  word-wrap: break-word;
}
/* line 659, ../_sass/screen.scss */
#open-source-content .open-source-category .open-source-description {
  float: left;
  width: 55%;
}
/* line 23, ../_sass/screen.scss */
#open-source-content .open-source-category .open-source-description a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 27, ../_sass/screen.scss */
#open-source-content .open-source-category .open-source-description a:active {
  text-decoration: none;
}
/* line 31, ../_sass/screen.scss */
#open-source-content .open-source-category .open-source-description a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #666;
}
/* line 667, ../_sass/screen.scss */
#open-source-content .open-source-category .open-source-description-link {
  margin-top: 30px;
}
/* line 671, ../_sass/screen.scss */
#open-source-content .open-source-category .open-source-updated {
  float: right;
  margin-right: 20px;
}
/* line 676, ../_sass/screen.scss */
#open-source-content .open-source-category footer {
  margin-bottom: 20px;
  clear: both;
}
/* line 23, ../_sass/screen.scss */
#open-source-content .open-source-category footer a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 27, ../_sass/screen.scss */
#open-source-content .open-source-category footer a:active {
  text-decoration: none;
}
/* line 31, ../_sass/screen.scss */
#open-source-content .open-source-category footer a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #666;
}

/* line 686, ../_sass/screen.scss */
#page-sidebar {
  float: left;
}
/* line 688, ../_sass/screen.scss */
#page-sidebar ul {
  padding: 0;
  margin-top: 0;
  margin-left: 0px;
  list-style-type: none;
}
/* line 694, ../_sass/screen.scss */
#page-sidebar li {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  display: block;
}
/* line 700, ../_sass/screen.scss */
#page-sidebar a:hover {
  color: #6a00cc;
}
/* line 703, ../_sass/screen.scss */
#page-sidebar.stuck {
  position: fixed;
  top: 210px;
}
/* line 707, ../_sass/screen.scss */
#page-sidebar .selected {
  color: #6a00cc;
}

@media screen and (max-width: 799px) {
  /* line 713, ../_sass/screen.scss */
  #page-sidebar {
    display: none;
    position: absolute !important;
    top: 112px !important;
    width: 40% !important;
    z-index: 999;
  }
  /* line 719, ../_sass/screen.scss */
  #page-sidebar li {
    margin-bottom: 30px !important;
  }

  /* line 723, ../_sass/screen.scss */
  #open-source-content {
    margin-left: 0 !important;
  }
  /* line 725, ../_sass/screen.scss */
  #open-source-content #lead {
    margin-bottom: 60px !important;
    width: 100% !important;
  }
  /* line 729, ../_sass/screen.scss */
  #open-source-content h1 {
    font-size: 19px !important;
    line-height: 28px !important;
  }

  /* line 734, ../_sass/screen.scss */
  .open-source-project * {
    float: none !important;
  }

  /* line 737, ../_sass/screen.scss */
  .open-source-category-header {
    display: none !important;
  }

  /* line 740, ../_sass/screen.scss */
  .open-source-description {
    width: 100% !important;
  }

  /* line 743, ../_sass/screen.scss */
  .open-source-featured-image {
    margin: 0 !important;
  }

  /* line 746, ../_sass/screen.scss */
  .open-source-featured-image {
    width: 100% !important;
  }

  /* line 749, ../_sass/screen.scss */
  .open-source-updated {
    margin-top: 30px !important;
    margin-right: 20px !important;
  }

  /* line 753, ../_sass/screen.scss */
  .open-source-title {
    margin-bottom: 30px;
  }

  /* line 756, ../_sass/screen.scss */
  .footer-navigation {
    margin: 30px 0 !important;
    width: auto !important;
  }
  /* line 759, ../_sass/screen.scss */
  .footer-navigation * {
    margin: 0 !important;
  }
  /* line 762, ../_sass/screen.scss */
  .footer-navigation li {
    display: inline-block;
    padding-right: 10px;
  }

  /* line 767, ../_sass/screen.scss */
  .pagination {
    padding-left: 0 !important;
  }
}
/* line 772, ../_sass/screen.scss */
footer .meta {
  margin-top: 30px;
}

/* line 776, ../_sass/screen.scss */
#blog-archives {
  margin-left: 250px;
}
/* line 778, ../_sass/screen.scss */
#blog-archives a, #blog-archives a:hover, #blog-archives a:visited, #blog-archives a:active {
  color: #000;
}
/* line 782, ../_sass/screen.scss */
#blog-archives article {
  display: block;
  padding: 0px;
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
/* line 790, ../_sass/screen.scss */
#blog-archives footer {
  padding-top: 20px;
}
/* line 794, ../_sass/screen.scss */
#blog-archives h2 {
  border-bottom: 1px solid #000;
  margin: 0 0 100px 0;
}

/* line 800, ../_sass/screen.scss */
.page-title {
  text-align: center;
  margin-top: 20px;
}

/* line 805, ../_sass/screen.scss */
.pagination {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 250px;
}
/* line 810, ../_sass/screen.scss */
.pagination a {
  margin-right: 20px;
}
/* line 23, ../_sass/screen.scss */
.pagination a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 27, ../_sass/screen.scss */
.pagination a:active {
  text-decoration: none;
}
/* line 31, ../_sass/screen.scss */
.pagination a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #666;
}

/* line 816, ../_sass/screen.scss */
figure.code {
  float: left;
  max-width: 100%;
  -moz-box-shadow: transparent 0 0 0 !important;
  -webkit-box-shadow: transparent 0 0 0 !important;
  box-shadow: transparent 0 0 0 !important;
}
/* line 820, ../_sass/screen.scss */
figure.code .gutter, figure.code figcaption {
  display: none;
}
/* line 824, ../_sass/screen.scss */
figure.code .line-number {
  color: #636 !important;
  text-shadow: transparent 0 0 0;
}
/* line 829, ../_sass/screen.scss */
figure.code code {
  background-color: transparent !important;
}
/* line 835, ../_sass/screen.scss */
figure.code .highlight {
  background-color: #f6f6f6 !important;
  border: 0 !important;
}
/* line 838, ../_sass/screen.scss */
figure.code .highlight .line-numbers {
  background: transparent !important;
  border: none !important;
}
/* line 844, ../_sass/screen.scss */
figure.code span {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  font-size: 14px;
  line-height: 20px;
}

/* line 851, ../_sass/screen.scss */
.footer-navigation {
  margin-top: 240px;
  margin-bottom: 40px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
/* line 858, ../_sass/screen.scss */
.footer-navigation ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 250px;
  list-style-type: none;
  overflow: hidden;
}
/* line 866, ../_sass/screen.scss */
.footer-navigation li {
  font-size: 20px;
  float: left;
  margin-right: 40px;
  margin-bottom: 0;
  margin-top: 0px;
  display: block;
}

/* line 876, ../_sass/screen.scss */
#search-container {
  margin: 0;
  padding: 0;
  margin-left: 250px;
  text-decoration: none;
}
/* line 882, ../_sass/screen.scss */
#search-container .gsc-above-wrapper-area {
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}
/* line 886, ../_sass/screen.scss */
#search-container .gsc-result-info-container, #search-container .gsc-orderby-container {
  color: #000;
  padding: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 892, ../_sass/screen.scss */
#search-container .gsc-orderby-container {
  display: none;
}
/* line 895, ../_sass/screen.scss */
#search-container .gsc-result-info, #search-container .gsc-orderby-label {
  color: #000;
}
/* line 898, ../_sass/screen.scss */
#search-container .gsc-webResult {
  padding: 0;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-style: none;
}
/* line 904, ../_sass/screen.scss */
#search-container .gsc-result-info {
  padding: 0;
  font-size: 20px;
}
/* line 908, ../_sass/screen.scss */
#search-container .gs-snippet {
  background-color: transparent;
  font-family: "Adobe Garamond W08", "adobe-garamond-pro", "AGaramondPro-Regular", "Times New Roman", "Times", "serif";
  border-style: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
/* line 915, ../_sass/screen.scss */
#search-container .gs-snippet b {
  color: black;
  text-decoration: underline;
}
/* line 920, ../_sass/screen.scss */
#search-container .gsc-result {
  background-color: transparent;
  text-decoration: none;
  border-bottom: 1px solid #000;
}
/* line 925, ../_sass/screen.scss */
#search-container .gsc-control-cse {
  padding: 0;
  background-color: transparent;
  border-style: none;
  font-family: "Adobe Garamond W08", "adobe-garamond-pro", "AGaramondPro-Regular", "Times New Roman", "Times", "serif";
  font-size: 20px;
}
/* line 932, ../_sass/screen.scss */
#search-container .gs-title {
  font-family: "Adobe Garamond W08", "adobe-garamond-pro", "AGaramondPro-Regular", "Times New Roman", "Times", "serif";
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}
/* line 937, ../_sass/screen.scss */
#search-container .gs-title b {
  font-family: "Adobe Garamond W08", "adobe-garamond-pro", "AGaramondPro-Regular", "Times New Roman", "Times", "serif";
  text-decoration: none;
  font-size: 20px;
}
/* line 943, ../_sass/screen.scss */
#search-container .gsc-thumbnail-inside, #search-container .gsc-url-top, #search-container .gsc-table-result, #search-container .gsc-cursor-box {
  padding: 0;
}
/* line 946, ../_sass/screen.scss */
#search-container .gs-visibleUrl {
  display: none;
}
/* line 949, ../_sass/screen.scss */
#search-container .gs-snippet b:first-of-type {
  display: block;
  opacity: 0;
}

/* line 960, ../_sass/screen.scss */
.header-hamburger {
  position: absolute;
  top: -10px;
  right: -19px;
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  z-index: 9999;
}

/* line 968, ../_sass/screen.scss */
.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 108px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

/* line 989, ../_sass/screen.scss */
.cmn-toggle-switch:focus {
  outline: none;
}

/* line 993, ../_sass/screen.scss */
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 45px;
  left: 18px;
  right: 18px;
  height: 6px;
  background: black;
}

/* line 1003, ../_sass/screen.scss */
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: black;
  content: "";
}

/* line 1014, ../_sass/screen.scss */
.cmn-toggle-switch span::before {
  top: -27px;
}

/* line 1018, ../_sass/screen.scss */
.cmn-toggle-switch span::after {
  bottom: -27px;
}

/* line 1022, ../_sass/screen.scss */
.cmn-toggle-switch__htx {
  background-color: transparent;
}

/* line 1026, ../_sass/screen.scss */
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}

/* line 1031, ../_sass/screen.scss */
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}

/* line 1039, ../_sass/screen.scss */
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

/* line 1044, ../_sass/screen.scss */
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
/* line 1050, ../_sass/screen.scss */
.cmn-toggle-switch__htx.active {
  background-color: transparent;
}

/* line 1054, ../_sass/screen.scss */
.cmn-toggle-switch__htx.active span {
  background: none;
}

/* line 1058, ../_sass/screen.scss */
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 1065, ../_sass/screen.scss */
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 1072, ../_sass/screen.scss */
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
