/*
Errno::ENOENT: No such file or directory @ rb_sysopen - /Users/jon/code/artsy.github.io/_sass/../images/code_bg.png

Backtrace:
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:31:in `initialize'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:31:in `open'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:31:in `get_size_for_png'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:26:in `size'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:54:in `image_dimensions'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:12:in `image_height'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:143:in `_perform'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/script/tree/list_literal.rb:63:in `map'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/jon/code/artsy.github.io/_plugins/generator_scss.rb:23:in `block in generate'
/Users/jon/code/artsy.github.io/_plugins/generator_scss.rb:22:in `chdir'
/Users/jon/code/artsy.github.io/_plugins/generator_scss.rb:22:in `generate'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/jekyll-4.2.0/lib/jekyll/site.rb:193:in `block in generate'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/jekyll-4.2.0/lib/jekyll/site.rb:191:in `each'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/jekyll-4.2.0/lib/jekyll/site.rb:191:in `generate'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/jekyll-4.2.0/lib/jekyll/site.rb:79:in `process'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/jekyll-4.2.0/lib/jekyll/command.rb:28:in `process_site'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/jekyll-4.2.0/lib/jekyll/commands/build.rb:65:in `build'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/jekyll-4.2.0/lib/jekyll/commands/build.rb:36:in `process'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/jekyll-4.2.0/lib/jekyll/command.rb:91:in `block in process_with_graceful_fail'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/jekyll-4.2.0/lib/jekyll/command.rb:91:in `each'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/jekyll-4.2.0/lib/jekyll/command.rb:91:in `process_with_graceful_fail'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/jekyll-4.2.0/lib/jekyll/commands/serve.rb:86:in `block (2 levels) in init_with_program'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/mercenary-0.4.0/lib/mercenary/command.rb:221:in `block in execute'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/mercenary-0.4.0/lib/mercenary/command.rb:221:in `each'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/mercenary-0.4.0/lib/mercenary/command.rb:221:in `execute'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/mercenary-0.4.0/lib/mercenary/program.rb:44:in `go'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/mercenary-0.4.0/lib/mercenary.rb:21:in `program'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/jekyll-4.2.0/exe/jekyll:15:in `<top (required)>'
/Users/jon/.asdf/installs/ruby/3.0.1/bin/jekyll:23:in `load'
/Users/jon/.asdf/installs/ruby/3.0.1/bin/jekyll:23:in `<top (required)>'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/site_ruby/3.0.0/bundler/cli/exec.rb:63:in `load'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/site_ruby/3.0.0/bundler/cli/exec.rb:63:in `kernel_load'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/site_ruby/3.0.0/bundler/cli/exec.rb:28:in `run'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/site_ruby/3.0.0/bundler/cli.rb:474:in `exec'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/site_ruby/3.0.0/bundler/vendor/thor/lib/thor/command.rb:27:in `run'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/site_ruby/3.0.0/bundler/vendor/thor/lib/thor/invocation.rb:127:in `invoke_command'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/site_ruby/3.0.0/bundler/vendor/thor/lib/thor.rb:392:in `dispatch'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/site_ruby/3.0.0/bundler/cli.rb:30:in `dispatch'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/site_ruby/3.0.0/bundler/vendor/thor/lib/thor/base.rb:485:in `start'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/site_ruby/3.0.0/bundler/cli.rb:24:in `start'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/bundler-2.2.21/exe/bundle:49:in `block in <top (required)>'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/site_ruby/3.0.0/bundler/friendly_errors.rb:128:in `with_friendly_errors'
/Users/jon/.asdf/installs/ruby/3.0.1/lib/ruby/gems/3.0.0/gems/bundler-2.2.21/exe/bundle:37:in `<top (required)>'
/Users/jon/.asdf/installs/ruby/3.0.1/bin/bundle:23:in `load'
/Users/jon/.asdf/installs/ruby/3.0.1/bin/bundle:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - /Users/jon/code/artsy.github.io/_sass/../images/code_bg.png"; }
