//@include global-reset;
//@include reset-html5;

@import "compass";
@import "base/utilities";

@import "custom/colors";
@import "custom/fonts";
@import "custom/embed_font";

@import "base/solarized";
@import "partials/syntax";

//@import "custom/layout";
//@import "base";
//@import "partials";
@import "custom/styles";

$highlight-color: #6A00CC;
$text-color: #636;

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// CSS trick to adjust the border-bottom to make it look like a nicer text-decoration: underline
@mixin link-underline {
  & {
    display: inline-block;
    position: relative;
    text-decoration: none;
    &:active {
      text-decoration: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    margin-top: 5px;
    border-bottom: 1px solid;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}


body {
  background-color: $artsy_bg;
  background: linear-gradient( 209deg, rgba(217, 255, 255, 1), rgba(252, 255, 246, 1) 1300px, rgba(255, 255, 255, 1) 1900px );
  color: $artsy_text;
  font-family: $serif;
  @media screen and (max-width: 481px) {
    margin: 20px;
  }
  max-width: none;
  margin: auto;
  line-height: normal;
  font-size: medium;
}

h1, h2, h3 {
  font-weight: normal;
}

figure {
  display: block;
  margin: 0px;
  padding: 0px;
}
figure figcaption {
  display: block;
}
figure.code {
  figcaption {
    display: block;
  }
  pre {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
a, a:hover, a:visited, a:active {
  color: $artsy_text;
}
.toggle-sidebar {
  display: none;
}
img {
  max-width: 100%;
  margin: 20px 0;
  position: relative;
  z-index: 1;
  top: -1px
}

#logo-container{
  width: 100%;
  bottom: 40px;
  position: fixed;
  #lrg-mark {
    background-image: url("../images/fixed_logo.png");
    background-repeat: no-repeat;
    display: block;
    height: 35px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

header#banner {
  width: 100%;
  top: 0px;
  display: block;
  position: fixed;
  overflow: hidden;
  z-index: 999;
  @media screen and (min-width: 482px) {
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -ms-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
  }

  @media screen and (max-width: 481px) {
    text-align: center;
    margin-bottom: -30px;
  }

  h1 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    a {
      text-decoration: none;
      @media screen and (max-width: 481px) {
        font-size: 20px;
      }
    }
  }

  #header {
    padding-top: 40px;
    // background-color: #ffabab;
    position: relative;
    height: 180px;
    font-size: 20px;
    border-bottom: 1px solid $artsy-text;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .header-navigation{
      margin-left: 250px;
      height: 100px;
      position: static;
      // background-color: #ffccff;
      ul{
        float: left;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
        overflow: hidden;
      }
      li{
         float: left;
         margin-right: 40px;
         margin-bottom: 0;
         margin-top: 0px;
         display: block;
      }

      & a {
        text-decoration: none;
      }
    }

    .header-sticky-container{
      // margin-top: 80px;
      position: static;
      margin-bottom: 40px;
    }

    .header-section-title{
      float: right;
    }

    .header-logo{
      float: left;
      width: 250px;
      & a {
        text-decoration: none;
        font-size: 20px;
      }
      // background-color: #ccffcc;
      span{
        bottom: 0px;
      }
    }

    .header-search{
      span {
        font-style: italic;
      }
      margin-left: 250px;
      // background-color: #ccffcc;
      input{
        background-color: transparent;
        border: none;
        // width: 100%;
        margin: 0;
        font-family: $serif;
        color: black;
        font-size: 20px;
      }
    }
  }
}

.smaller {
  background-color: white;
}


#main {
  display: block;
  // background-color: #ffffcc;
  margin-top: 260px;

  @media screen and (min-width: 482px) {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #mobile_search {
    display: block;
    border-top: 1px solid $artsy-text;
    border-bottom: 1px solid $artsy-text;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 482px) {
      display: none;
    }
    input {
      margin-left: auto;
      margin-right: auto;
      background-color: transparent;
      border: 2px solid $artsy-text;
      border-radius: 0 0 0 0;
      color: $artsy-text;
      font-family: $serif;
      font-size: 17px;
      height: 1.5em;
      padding-left: 0.5em;
      width: 90%;
      border-radius: none;
      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder {
          color: $artsy-text;
      }
      &:-moz-placeholder {
          color: $artsy-text;
      }

    }
  }

  #content {
    font-size: 20px;
    width: 100%;
    @media screen and (min-width: 482px) {
      // display: inline-block;
    }

    h1 {
      font-size: 20px;
      margin-top: 0px;
      a {
        text-decoration: none;
        @media screen and (max-width: 481px) {
          font-size: 20px;
        }
      }
    }
  }

  #sidebar {
    @media screen and (min-width: 482px) {
      display: inline-block;
      float: right;
      // border-top: 1px dotted $artsy-text;
      width: 250px;
    }

    @media screen and (max-width: 481px) {
      display: none;
    }
    section {
      display: block;
      // border-bottom: 1px dotted $artsy-text;
      padding-bottom: 40px;
      a.archive_link {
        display: block;
        margin-bottom: 10px;
        float: right;
        text-decoration: none;
        border-bottom: 1px solid $artsy_text;
      }
      input {
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        border: 2px solid $artsy-text;
        border-radius: 0 0 0 0;
        color: $artsy-text;
        font-family: $serif;
        font-size: 17px;
        height: 1.5em;
        padding-left: 0.5em;
        width: 240px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.date {
  @media screen and (min-width: 482px) {
    font-size: 20px;
    display: block;
    text-align: right;
  }

  @media screen and (max-width: 481px) {
    font-size: 20px;
    display: block;
    text-align: left;
  }
}

article {
  display: block;
  height: 100%;
  margin-top: 40px;
  line-height: 1.6em;
  @media screen and (max-width: 481px) {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .article-container {
    @media screen and (min-width: 482px) {
      // background-color: #ccffff;
      margin-left: 250px;
      border-bottom: 1px solid $artsy-text;
    }

    @media screen and (max-width: 481px) {
      margin-left: 0px;
    }
  }

  .article-container-single {
    @media screen and (min-width: 482px) {
      // background-color: #ccffff;
      margin-left: 250px;
      margin-bottom: 80px;
      // border-bottom: 1px solid $artsy-text;
    }

    @media screen and (max-width: 481px) {
      margin-left: 0px;
    }
  }

  .meta-container {
    @media screen and (min-width: 482px) {
      // background-color: #ffcccc;
      margin-top: 0px;
      float: left;
      width: 180px;
      padding-right: 50px;
    }

    @media screen and (max-width: 481px) {
      float: none;
    }
  }

  .content-container {
    @media screen and (min-width: 482px) {
      // background-color: #ffccff;
      float: left;
      width: 55%;
    }
    @media screen and (max-width: 481px) {
      float: none;
    }
  }

  .date-container {
    @media screen and (min-width: 482px) {
      // background-color: #ccffcc;
      float: right;
      width: 15%;
    }
    @media screen and (max-width: 481px) {
      float: none;
    }
  }

  header {
    & a {
      text-decoration: none;
    }
  }

  h1 {
    font-size: 20px;
    font-weight: normal;
  }

  h2 {
    font-weight: normal;
    font-size: 20px;
    & a {
      text-decoration: none;
    }
  }

  p {
    margin-top: 0px;
    line-height: 1.6em;
    & a {
      @include link-underline;
    }
  }

  p > code {
    color: $artsy-text;
    font-family: Courier, sans-serif;
    font-size: 12px;
    margin: 0 4px;
    padding: 1px 6px;
    border: 2px solid;
    @include border-radius(0px);
    background: transparent;
  }

  em {
    font-style: italic;
  }

  p.meta-paginate {
    margin-top: 70px;
    & a{
      float: left;
      clear: left;
    }
  }

  span.fn {
    margin-bottom: 3px;
    margin-top: 3px;
  }

  .meta {
    margin-top: 3px;
    margin-bottom: 3px;
    & a {
      @include link-underline;
    }
  }

  footer {
    margin-bottom: 20px;
    & a {
      @include link-underline;
    }
    clear: both;
  }
}

section.comments{
  margin-left: 250px;
}

.sharing {
  margin-top: 30px;
}



.page-article {
  margin-left: 250px;
}

.page-sidebar {
  float: left;
  ul{
    padding: 0;
    margin-top: 0;
    margin-left: 0px;
    list-style-type: none;
  }
  li{
     font-size: 20px;
     margin-bottom: 20px;
     margin-top: 0px;
     display: block;
  }
  & a {
    text-decoration: none;
  }
}

footer .meta {
  margin-top: 30px;
}

// footer#main_footer {
//   display: block;
//   position: relative;
//   margin-top: 100px;
//   text-align: center;
//   font-size: 13px;
// }

#blog-archives {
  color: $artsy-text;

  a,a:visited,a:active,a:hover {
    color: $artsy-text;
  }
  article {
    display: block;
    border: none;
    padding: 0px;
    background: none 0% 0% repeat;
    margin-left: 0px;
    margin-bottom: 40px;
    margin-top: 20px;
    a, a:hover, a:visited, a:active {
      color: $artsy-text;
      text-decoration: none;
    }
    footer a, footer a:hover, footer a:visited, footer a:active {
      color: $artsy-text;
    }

  }

  h2 {
    // margin-bottom: 20px;
    float: none;
    top: 0px;
    clear: both;
    font-size: 20px;
  }

  time {
    font-family: $block;
    font-size: 13px;
    display: block;
    position: relative;
    margin-left: -100px;
    margin-top: -40px;
    z-index: 0;
    top: 0px;
    text-align: left;

    @media screen and (max-width: 481px) {
      display: none;
    }
  }
}
.page-title {
  text-align: center;
  margin-top: 20px;
}

.pagination {
  a {
    @include link-underline;
  }
}

figure.code {

  figcaption {
    @include text-shadow(transparent  0 0 0);
    border: none;
    background: transparent;
    font-family: ITCAvantGardeGothicStdDemi;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: $text-color;
  }

  .gutter {
    border-right: 1px solid;
  }

  .line-number {
    color: $text-color !important;
    @include text-shadow(transparent  0 0 0);
  }

  code {
    background-color: transparent !important;
  }

  @include box-shadow(transparent 0 0 0 !important);
  .highlight {
    background-color: transparent !important;
    border: 3px solid $text-color !important;
    .line-numbers {
      background: transparent !important;
      border: none !important;
    }
  }
}

.footer-navigation{
  margin-top: 240px;
  margin-bottom: 40px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  ul{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 250px;
    list-style-type: none;
    overflow: hidden;
  }
  li{
     font-size: 20px;
     float: left;
     margin-right: 40px;
     margin-bottom: 0;
     margin-top: 0px;
     display: block;
  }
  & a {
    text-decoration: none;
  }
}

ul, ol {
  padding: 0 0 0 20px;
  li {
    margin: 15px 0;
  }
}
