//@import "compass";
//@include global-reset;
//@include reset-html5;
//
@import "custom/colors";
@import "custom/fonts";
@import "custom/embed_font";
//@import "custom/layout";
//@import "base";
//@import "partials";
//@import "custom/styles";

$mobile-font-size: 12px;

body {
  background-color: $artsy_bg;
  color: $artsy_bright;
  font-family: $serif;
  @media screen and (max-width: 481px) {
    margin: 20px;
  }
}
h1 {
  font-family: $block;
  font-weight: normal;
}
a, a:hover, a:visited, a:active {
  color: $artsy_bright;
}
pre > code {
  display: block;
  border: 2px solid $artsy_bright;
  padding: 20px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap; 
  word-wrap: break-word;
}

#lrg-mark {
    background-image: url("../images/Logo.png");
    background-repeat: no-repeat;
    display: block;
    height: 58px;
    width: 152px;
    
    span {
      display: none;
    }
    
    @media screen and (min-width: 482px) {
      left: 35px;
      position: fixed;
      top: 15px;
    }
    @media screen and (max-width: 1280px) and (min-width: 482px){
      display: none;
    }
    @media screen and (max-width: 481px) {
      margin: 0 auto 20px auto;
      background-position: center top;
    }

}

header#banner {
  text-transform: uppercase;
  font-family: $block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: $artsy_bg;
  padding-bottom: 150px;
  
  @media screen and (min-width: 482px) {
    padding-top: 20px;
    width: 900px;
  }
  @media screen and (max-width: 481px) {
    text-align: center;
    margin-bottom: -30px;
  }
  
  #header {
    @media screen and (min-width: 482px) {
      width: 480px;
    }
    h2 {
      font-family: $serif;
      float: left;
      font-size: 17px;
      font-weight: normal;
      letter-spacing: 2px;
    }
  }
}

#main {
  display: block;
  background-color: $artsy_bg;
  
  @media screen and (min-width: 482px) {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #mobile_search {
    display: block;
    border-top: 1px dotted $artsy_bright;
    border-bottom: 1px dotted $artsy_bright;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 482px) {
      display: none;
    }
    input {
      margin-left: auto;
      margin-right: auto;
      background-color: transparent;
      border: 2px solid $artsy_bright;
      border-radius: 0 0 0 0;
      color: $artsy_bright;
      font-family: $serif;
      font-size: 17px;
      height: 1.5em;
      padding-left: 0.5em;
      width: 90%;
      border-radius: none;
      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder {
          color: $artsy_bright;
      }
      &:-moz-placeholder {
          color: $artsy_bright;
      }
      
    }
  }
  #content {
    @media screen and (min-width: 482px) {
      display: inline-block;
      width: 600px;
      border-top: 1px dotted $artsy_bright;
    }
    
    h1 {
      a {
        text-decoration: none;
        
        @media screen and (max-width: 481px) {
          font-size: 25px;
        }
      }
    }
  }
  #sidebar {
    @media screen and (min-width: 482px) {
      display: inline-block;
      float: right;
      border-top: 1px dotted $artsy_bright;
      width: 250px;
    }
    
    @media screen and (max-width: 481px) {
      display: none;
    }
    section {
      border-bottom: 1px dotted $artsy_bright;
      padding-bottom: 40px;
      
      h1 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 14px;
        font-family: $block;
        letter-spacing: 2px;
      }
      ul {
        list-style-type: none;
        margin-top: 30px;
        margin-left: 20px;
        text-indent: -20px;
        
        li {
          margin-bottom: 1em;
          margin-left: -40px;
          
          &:before {
           content: "–";
          }
        }
        a {
          text-decoration: none;
        }
      }
      a.archive_link {
        display: block;
        margin-bottom: 10px;
        float: right;
        text-decoration: none;
        border-bottom: 1px dotted $artsy_bright;
      }
      input {
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        border: 2px solid $artsy_bright;
        border-radius: 0 0 0 0;
        color: $artsy_bright;
        font-family: $serif;
        font-size: 17px;
        height: 1.5em;
        padding-left: 0.5em;
        width: 240px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.date {
  @media screen and (min-width: 482px) {
    font-family: $block;
    font-size: 13px;
    display: block;
    position: relative;
    margin-left: -100px;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 481px) {
    font-family: $block;
    font-size: 13px;
    display: block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}

article {
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px dotted $artsy-noir;
  
  @media screen and (max-width: 481px) {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  header a {
    text-decoration: none;
  }
  h1 {
    font-family: $serif;
    font-size: 35px;
    margin-top: -30px;
  }
}

.sharing {
  margin-top: 30px;
}

footer .meta {
  margin-top: 30px;
}

footer#main_footer {
  display: block;
  position: relative;
  margin-top: 100px;
  text-align: center;
  font-size: 13px;
}

#blog-archives {
  article {
    border: none;
  }
  time {
    font-family: $block;
    font-size: 13px;
    display: block;
    position: relative;
    margin-left: -100px;
    margin-top: -40px;
    z-index: 0;
    
    @media screen and (max-width: 481px) {
      display: none;
    }
  }
}
.page-title {
  text-align: center;
  margin-top: 20px;
}