//@include global-reset;
//@include reset-html5;

@import "compass";
@import "base/utilities";

@import "custom/colors";
@import "custom/fonts";
@import "custom/embed_font";

@import "base/solarized";
@import "partials/syntax";

//@import "custom/layout";
//@import "base";
//@import "partials";
@import "custom/styles";

$highlight-color: #6A00CC;

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// CSS trick to adjust the border-bottom to make it look like a nicer text-decoration: underline
@mixin link-underline {
  & {
    display: inline-block;
    position: relative;
    text-decoration: none;
    &:active {
      text-decoration: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    margin-top: 5px;
    border-bottom: 1px solid;
  }
}

body {
  background-color: $artsy_bg;
  color: $artsy_text;
  font-family: $serif;
  @media screen and (max-width: 481px) {
    margin: 20px;
  }
  max-width: none;
  margin: auto;
  line-height: normal;
  font-size: medium;
}

h1, h2, h3 {
  font-weight: normal;
}

figure {
  display: block;
  margin: 0px;
  padding: 0px;
}
figure figcaption {
  display: block;
}
figure.code {
  figcaption {
    display: block;
  }
  pre {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
a, a:hover, a:visited, a:active {
  color: $artsy_bright;
}
.toggle-sidebar {
  display: none;
}
img {
  max-width: 100%;
}

#lrg-mark {
    background-image: url("../images/Logo.png");
    background-repeat: no-repeat;
    display: block;
    height: 58px;
    width: 152px;

    span {
      display: none;
    }

    @media screen and (min-width: 482px) {
      left: 15px;
      position: fixed;
    }
    @media screen and (max-width: 1280px) and (min-width: 482px){
      display: none;
    }
    @media screen and (max-width: 481px) {
      margin: 0 auto 20px auto;
      background-position: center top;
    }

}

header#banner {
  text-transform: uppercase;
  font-family: $block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: $artsy_bg;
  padding-bottom: 150px;

  @media screen and (min-width: 482px) {
    padding-top: 20px;
    width: 900px;
  }
  @media screen and (max-width: 481px) {
    text-align: center;
    margin-bottom: -30px;
  }

  #header {
    & a {
      @include link-underline;
    }
    @media screen and (min-width: 482px) {
      width: 490px;
    }
    h2 {
      font-family: $serif;
      float: left;
      font-size: 17px;
      font-weight: normal;
      letter-spacing: 2px;
      color: $artsy_bright;
    }
  }
}

#main {
  display: block;
  background-color: $artsy_bg;

  @media screen and (min-width: 482px) {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  #mobile_search {
    display: block;
    border-top: 1px dotted $artsy_bright;
    border-bottom: 1px dotted $artsy_bright;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 482px) {
      display: none;
    }
    input {
      margin-left: auto;
      margin-right: auto;
      background-color: transparent;
      border: 2px solid $artsy_bright;
      border-radius: 0 0 0 0;
      color: $artsy_bright;
      font-family: $serif;
      font-size: 17px;
      height: 1.5em;
      padding-left: 0.5em;
      width: 90%;
      border-radius: none;
      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder {
          color: $artsy_bright;
      }
      &:-moz-placeholder {
          color: $artsy_bright;
      }

    }
  }
  #content {
    @media screen and (min-width: 482px) {
      display: inline-block;
      width: 600px;
      border-top: 1px dotted $artsy_bright;
    }

    h1 {
      a {
        text-decoration: none;

        @media screen and (max-width: 481px) {
          font-size: 25px;
        }
      }
    }
  }
  #sidebar {
    @media screen and (min-width: 482px) {
      display: inline-block;
      float: right;
      border-top: 1px dotted $artsy_bright;
      width: 250px;
    }

    @media screen and (max-width: 481px) {
      display: none;
    }
    section {
      display: block;
      border-bottom: 1px dotted $artsy_bright;
      padding-bottom: 40px;

      h1 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 14px;
        font-family: $block;
        letter-spacing: 2px;
        margin: 20px;
      }
      ul {
        list-style-type: none;
        margin-top: 30px;
        margin-left: 20px;
        text-indent: -12px;
        li {
          margin-bottom: 1em;
          margin-left: -40px;

          &:before {
           content: "–";
          }
        }
        a {
          text-decoration: none;
        }
      }
      a.archive_link {
        display: block;
        margin-bottom: 10px;
        float: right;
        text-decoration: none;
        border-bottom: 1px dotted $artsy_bright;
      }
      input {
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        border: 2px solid $artsy_bright;
        border-radius: 0 0 0 0;
        color: $artsy_bright;
        font-family: $serif;
        font-size: 17px;
        height: 1.5em;
        padding-left: 0.5em;
        width: 240px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.date {
  @media screen and (min-width: 482px) {
    font-family: $block;
    font-size: 13px;
    display: block;
    position: relative;
    margin-left: -100px;
    margin-top: 20px;
  }

  @media screen and (max-width: 481px) {
    font-family: $block;
    font-size: 13px;
    display: block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}

article {
  display: block;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px dotted $artsy-noir;

  @media screen and (max-width: 481px) {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  header a {
    text-decoration: none;
  }

  h1 {
    font-size: 35px;
    margin-top: -30px;
  }

  h2 {
    font-weight: normal;
    & a {
      text-decoration: none;
    }
  }

  p {
    line-height: 1.6em;
    & a {
      @include link-underline;
    }
  }

  p > code {
    color: $highlight-color;
    font-family: Courier, sans-serif;
    font-size: 12px;
    margin: 0 4px;
    padding: 1px 6px;
    border: 2px solid;
    @include border-radius(0px);
    background: transparent;
  }

  em {
    font-style: italic;
  }

  p.meta a.basic-alignment {
    margin: 0px;
    display: inline-block;
    width: 200px;
    @include ellipsis;
  }
  p.meta a.basic-alignment.left {
    float: left;
  }
  p.meta a.basic-alignment.right {
    float: right;
  }

  footer {
    margin: 5px 0 50px 0;
    & a {
      @include link-underline;
    }
  }
}

.sharing {
  margin-top: 30px;
}

footer .meta {
  margin-top: 30px;
}

footer#main_footer {
  display: block;
  position: relative;
  margin-top: 100px;
  text-align: center;
  font-size: 13px;
}

#blog-archives {
  color: $artsy_bright;

  a,a:visited,a:active,a:hover {
    color: $artsy_bright;
  }
  article {
    display: block;
    border: none;
    padding: 0px;
    background: none 0% 0% repeat;
    margin-left: 0px;
    margin-bottom: 40px;
    margin-top: 20px;
    a, a:hover, a:visited, a:active {
      color: $artsy_bright;
      text-decoration: none;
    }
    footer a, footer a:hover, footer a:visited, footer a:active {
      color: $artsy_bright;
    }

  }

  h2 {
    margin-bottom: 20px;
    float: none;
    top: 0px;
    clear: both;
    font-size: 30px;
  }

  time {
    font-family: $block;
    font-size: 13px;
    display: block;
    position: relative;
    margin-left: -100px;
    margin-top: -40px;
    z-index: 0;
    top: 0px;
    text-align: left;

    @media screen and (max-width: 481px) {
      display: none;
    }
  }
}
.page-title {
  text-align: center;
  margin-top: 20px;
}

.pagination {
  a {
    @include link-underline;
  }
}

figure.code {

  figcaption {
    @include text-shadow(transparent  0 0 0);
    border: none;
    background: transparent;
    font-family: ITCAvantGardeGothicStdDemi;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: $highlight-color;
  }

  .gutter {
    border-right: 1px solid;
  }

  .line-number {
    color: $highlight-color !important;
    @include text-shadow(transparent  0 0 0);
  }

  code {
    background-color: transparent !important;
  }

  @include box-shadow(transparent 0 0 0 !important);
  .highlight {
    background-color: transparent !important;
    border: 3px solid $highlight-color !important;
    .line-numbers {
      background: transparent !important;
      border: none !important;
    }
  }
}

ul, ol {
  padding: 0 0 0 20px;
  li {
    margin: 15px 0;
  }
}