@font-face {
  font-family:"ITCAvantGardeGothicStdDemi";
  src:url(assets/fonts/itcavantgardestd-demi-webfont.eot) format('eot')
}

@font-face {
  font-family:"AdobeGaramondProRegular";
  src: url(assets/fonts/agaramondpro-regular-webfont.eot) format('eot')
}

@font-face {
  font-family:"AdobeGaramondProItalic";
  font-style: italic;
  src: url(assets/fonts/agaramondpro-italic-webfont.eot) format('eot')
}
