@font-face {
  font-family: "ITCAvantGardeGothicStdDemi";
  src: url("/assets/fonts/itcavantgardestd-demi-webfont.eot");
  src: url("/assets/fonts/itcavantgardestd-demi-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/itcavantgardestd-demi-webfont.woff") format("woff"), url("/assets/fonts/itcavantgardestd-demi-webfont.ttf") format("truetype"), url(/assets/fonts/itcavantgardestd-demi-webfont.svg#svgFontName) format("svg"); }

@font-face {
  font-family: "AdobeGaramondProRegular";
  src: url("/assets/fonts/agaramondpro-regular-webfont.eot");
  src: url("/assets/fonts/agaramondpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/agaramondpro-regular-webfont.woff") format("woff"), url("/assets/fonts/agaramondpro-regular-webfont.ttf") format("truetype"), url(/assets/fonts/agaramondpro-regular-webfont.svg#svgFontName) format("svg"); }

@font-face {
  font-family: "AdobeGaramondProItalic";
  src: url("/assets/fonts/agaramondpro-italic-webfont.eot");
  src: url("/assets/fonts/agaramondpro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/agaramondpro-italic-webfont.woff") format("woff"), url("/assets/fonts/agaramondpro-italic-webfont.ttf") format("truetype"), url(/assets/fonts/agaramondpro-italic-webfont.svg#svgFontName) format("svg"); }