.DS_Store
*~

.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
.rvmrc
.redcar

#Ignore all awesome emacs files, even though they're awesome
*#
.#*
