{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% if author %}
  <span class="byline author vcard">
    Posted by 
    <span class="fn">
      {{ author }}
    </span>
    {% if page.author-links %}
      (
      {% if page.github-url %}
      <span class="fn">
        <a href="{{ page.github-url }}">github</a>
      </span>
      {% endif %}
      {% if page.blog-url %}
      <span class="fn">
        <a href="{{ page.blog-url }}">blog</a>
      </span>
      {% endif %}
      {% if page.twitter-url %}
      <span class="fn">
        <a href="{{ page.twitter-url }}">twitter</a>
      </span>
      {% endif %}
      )
    {% endif %}
    
  </span>
{% endif %}
