// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

p, li {
  code {
    font-size: 1em;
  }
}
article img.screenshot {
  @include shadow-box;
  @include box-shadow(rgba(#000, .35) 0 3px 8px);
}
blockquote {
  font-style: italic;
}

.entry-content {
  p {
    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}
