---
layout: "default"
title: "Artsy Open Source"
description: "Artsy's Collection of Open Source Code across JS/Cocoa/Ruby and more."
section: opensource
comments: false
sharing: true
footer: true
exclude_from_search: true
---
<div id="page-sidebar">
  <ul>
    <li><a href="#featured">Featured</a></li>
    <li><a href="#javascript">Javascript</a></li>
    <li><a href="#ios">iOS</a></li>
    <li><a href="#ruby">Ruby</a></li>
    <li><a href="#devops">DevOps</a></li>
  </ul>
</div>
<div id="open-source-content">
  <div id="lead">
    <h1>We love open source at Artsy. We use a ton of it. We've also contributed to numerous projects and created many of our own projects since early 2011. We maintain a philosophy of keeping our work <a href="http://code.dblock.org/2015/02/09/becoming-open-source-by-default.html">Open by Default</a>.</h1>
  </div>
  {% assign categories = "featured, javascript, ios, ruby, devops" | split: ", " %}
  {% for category in categories %}
    <section id="{{category}}" class="open-source-category">
      <div class="open-source-category-header"><div class="open-source-category-header-title"><span><b>Title</b></span></div><div class="open-source-category-header-description"><span><b>Description</b></span></div><div class="open-source-category-header-updated"><span><b>Created</b></span></div><footer></footer></div>
      {% for project in site.oss_projects %}
        {% if project["category"] == category %}
          {% capture project %}{{ project }}{% endcapture %}
          {% include oss/oss_page_project.html %}
        {% endif %}
      {% endfor %}
    </section>
  {% endfor %}
</div>
<footer>
</footer>


<script type="text/javascript">
// stick open source category sidebar
var sticky = new Waypoint.Sticky({
    element: $("#page-sidebar"),
    handler: function(direction) {
  },
  offset: 210
})

// scroll to each section smoothly
$('#page-sidebar a').click( function() {
  var section = $(this).attr("href");
  $('html, body').animate({
    scrollTop: ($(section).offset().top - 210)
  }, 800);
});

// set active section when scrolled to
$("section").each( function(index, category) {
  var waypoint = new Waypoint({
    element: category,
    handler: function(direction) {
      var active_section = $(category);
      if (direction === "up") active_section = active_section.prev();
      var active_link = $('#page-sidebar a[href="#' + active_section.attr('id') + '"]');
      $('#page-sidebar a').removeClass("selected");
      active_link.addClass("selected");
    },
    offset: 250
  })
})
</script>
