{% capture category %}{{ post.categories | size }}{% endcapture %}
{% capture date_formatted %}{{ page.date_formatted }}{{ post.date_formatted }}{% endcapture %}
<div class="content-container">
  <a href="{{ root_url }}{{ post.url }}">
    <b>{{post.title}}</b>
  </a>
</div>
<div class="date-container">
  <div class="date">{% include post/date.html %}{{ time }}</div>
</div>

<div class="content-container">
 {{ post.content  | markdownify | truncatewords:75 }}
</div>

{% if category != '0' %}
<footer>
  <span class="categories">Posted in {{ post.categories | category_links }}</span>
</footer>
{% endif %}
