{% if page.single == true %}
<div class="article-container-single {{ page.article-class }}">
{% else %}
<div class="article-container">
{% endif %}

  {% unless page.no_header %}
    <div class="meta-container">
      <header>
        {% unless page.meta == false %}
          <a href="{{ root_url }}{{ post.url }}">
        {% endunless %}
        {% if index %}
          <h2 class="entry-title">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</h2>
        {% else %}
          <h2 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h2>
        {% endif %}
          <p class="meta-author">{% include post/mini-author.html %}</p>
          </a>
      </header>
    </div>
  {% endunless %}

  <div class="content-container">
    {% if index %}
    {% if post.content contains '<!-- more -->' %}
        {{ post.content | split:'<!-- more -->' | first }}
        <p><a href="{{ post.url }}">Read on →</a></p>
    {% else %}
        {{ post.content }}
    {% endif %}

    {% else %}
      <div class="entry-content">{{ content }}</div>
    {% endif %}

    {% if page.single == true %}
      <p class="meta-author">
        {% include post/author.html %}
      </p>
      <p class="meta-categories">
        Categories: {% include post/categories.html %}
      </p>
      {% if page.series %}
       <p class="meta-series" style="padding-bottom:0;">Part of a series: <strong>{{ page.series | series_link }}</strong></p>
       <ul>
         {% for post in site.posts %}
          {% if post.series == page.series %}
          <li>{% include archive_post.html %}</li>
          {% endif %}
        {% endfor %}

       </ul>
      {% endif %}

      {% if site.disqus_short_name and page.comments == true %}
        <hr/>
        <section class="comments">
          <h1>Comments</h1>
          <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
        </section>
        <hr/>
      {% endif %}

      <p class="meta-paginate">
        {% if page.previous.url %}
          <a class="previous" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </p>
    {% endif %}
  </div>


  <footer>
  </footer>

</div>
