<script type="text/javascript">
  $(function() {
    // TODO: Move this whole file to a javascript file that is included in the footer

    // Main sticky header
    if ($(window).width() >= 700) {
      var sticky = new Waypoint.Sticky({
        element: $("#banner"),
        offset: -100
      });
    }

    // Toggle hamburger menu
    $('.header-hamburger').click(function() {
      $('#banner, .cmn-toggle-switch').toggleClass('active');
      if (location.pathname == '/open-source') {
        $('.header-search span').hide();
        $('#page-sidebar').toggle();
      }
    });

    // Toggle search focus on mobile
    $('input.search').focus(function() {
      $('#header').addClass('search-focused');
    }).blur(function() {
      $('#header').removeClass('search-focused');
    });
  });
</script>
