<script type="text/javascript">
  $(function() {
    // TODO: Move this whole file to a javascript file that is included in the footer

    // Main sticky header
    if ($(window).width() >= 700) {
      var sticky = new Waypoint.Sticky({
        element: $("#banner"),
        offset: -100
      });
    }

    // Toggle hamburger menu
    $('.header-hamburger').click(function() {
      $('#banner, .cmn-toggle-switch').toggleClass('active');
      if (location.pathname == '/open-source') {
        $('.header-search span').hide();
        $('#page-sidebar').toggle();
      }
    });

    // Toggle search focus on mobile
    $('input.search').focus(function() {
      $('#header').addClass('search-focused');
    }).blur(function() {
      $('#header').removeClass('search-focused');
    });

    {% if page.opensource == true %}

      // stick open source category sidebar
      var sticky = new Waypoint.Sticky({
          element: $("#page-sidebar"),
          handler: function(direction) {
        },
        offset: 210
      })

      // scroll to each section smoothly
      $('#page-sidebar a').click( function() {
        $.scrollTo(
          $(this).attr("href"),{
            duration: 800,
            offset: { 'left':0, 'top': -211 }
          }
        );
      });

      // set active section when scrolled to
      $("section").each( function(index, category) {
        var waypoint = new Waypoint({
          element: category,
          handler: function(direction) {
            var active_section = $(category);
            if (direction === "up") active_section = active_section.prev();
            var active_link = $('#page-sidebar a[href="#' + active_section.attr('id') + '"]');
            $('#page-sidebar a').removeClass("selected");
            active_link.addClass("selected");
          },
          offset: 250
        })
      })
  {% endif %}
  });
</script>
