<section id="comments" />

<script type="text/javascript">
  // Comes from https://stackoverflow.com/questions/3177836/how-to-format-time-since-xxx-e-g-4-minutes-ago-similar-to-stack-exchange-site
  function timeSince(date) {
    var seconds = Math.floor((new Date() - date) / 1000)
    var interval = Math.floor(seconds / 31536000)

    if (interval > 1) {
      return interval + " years"
    }
    interval = Math.floor(seconds / 2592000)
    if (interval > 1) {
      return interval + " months"
    }
    interval = Math.floor(seconds / 86400)
    if (interval > 1) {
      return interval + " days"
    }
    interval = Math.floor(seconds / 3600)
    if (interval > 1) {
      return interval + " hours"
    }
    interval = Math.floor(seconds / 60)
    if (interval > 1) {
      return interval + " minutes"
    }
    return Math.floor(seconds) + " seconds"
  }

  var writeToComment = function (element, html) {
    var element = document.createElement(element)
    element.innerHTML = html
    document.getElementById("comments").appendChild(element)
  }

  var addReactions = function (reactions, link) {
    var returnString = ""
    var emojiCode = {
      '+1': "<g-emoji alias='+1' fallback-src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png' class='emoji'>👍</g-emoji>",
      '-1': "<g-emoji alias='-1' fallback-src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f44e.png' class='emoji'>👎</g-emoji>",
      laugh: "<g-emoji alias='smile' fallback-src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f604.png' class='emoji'>😄</g-emoji>",
      hooray: "<g-emoji alias='tada' fallback-src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f389.png' class='emoji'>🎉</g-emoji>",
      confused: "<g-emoji alias='thinking_face' fallback-src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f615.png' class='emoji'>😕</g-emoji>",
      heart: "<g-emoji alias='framed_picture' fallback-src='https://assets-cdn.github.com/images/icons/emoji/unicode/1f5bc.png' class='emoji'>🖼</g-emoji>"
    }

    if (reactions.total_count > 0) {
      returnString += "<div class='comment-reactions'>"
      for (var key in reactions) {
        if (reactions.hasOwnProperty(key)) {
          if (reactions[key] > 0 && key !== "total_count") {
            returnString += "<a href='" + link + "' class='emoji-wrapper'>" + emojiCode[key] + reactions[key] + "</a>"
          }
        }
      }
      returnString += "</div>"
      return returnString
    } else {
      return "<div></div>"
    }
  }

  // Based on http://ivanzuzak.info/2011/02/18/github-hosted-comments-for-github-hosted-blogs.html
  // And http://donw.io/post/github-comments/

  var loadComments = function (data) {
    writeToComment("h2", "Comments")
    for (var i = 0; i < data.length; i++) {
      var cuser = data[i].user.login
      var cuserlink = data[i].user.html_url
      var clink = data[i].html_url
      var cbody = data[i].body_html
      var cavatarlink = data[i].user.avatar_url
      var cdate = new Date(data[i].created_at)
      var creactions = addReactions(data[i].reactions, clink)

      var commentHTML =
        "<div class='comment'>" +
        "<div class='comment-header'>" +
        "<a class='comment-username' href=\"" + cuserlink + '">' +
        '<img src="' + cavatarlink + '" alt="" width="40" height="40">' +
        cuser +
        "</a>" + " commented " +
        "<a class='comment-date' href=\"" + clink + '">' +
        timeSince(cdate) + " ago" +
        "</a>" +
        "</div>" +
        "<div class='comment-body'>"
        + cbody +
        "</div>" +
        creactions +
        "</div>"
      writeToComment("div", commentHTML)
    }

    var callToAction =
      "<hr/>" +
      "<p>" +
      "Our comments are using GitHub Issues on the Artsy Blog repo. You can post by replying to <a href='https://github.com/artsy/artsy.github.io/issues/{{ page.comment_id }}'>issue #{{ page.comment_id }}</a>." +
      "</p>"
    writeToComment("div", callToAction)
  }

  var writeFirstComment = function () {
    var callToAction =
      "<hr/>" +
      "<p>" +
      "This post has no comments, yet, you could be the first. Our comments are using GitHub Issues on the Artsy Blog repo. You can post by replying to <a href='https://github.com/artsy/artsy.github.io/issues/{{ page.comment_id }}'>issue #{{ page.comment_id }}</a>." +
      "</p>"
    writeToComment("div", callToAction)
  }

  if (window.fetch) {
    var url =
      "https://artsy-blog-gh-commentify.herokuapp.com/repos/artsy/artsy.github.io/issues/{{ page.comment_id }}/comments"
    window
      .fetch(url, { Accept: "application/vnd.github.v3.html+json" })
      .then(function (response) {
        return response.json()
      })
      .then(function (json) {
        if (json.length) {
          loadComments(json)
        } else {
          writeFirstComment()
        }
      })
  }

</script>