aside {
  // TODO: Make this responsive
  margin-left: calc(370px - 30vw); // 370px is half of the parent's 740px
  width: 60vw;
  margin-bottom: 30px;

  .question {
    font-size: 40px;
    line-height: 51px;

    padding-left: 124px;
    margin-bottom: 50px;

    background-image: url(/images/artsy-engineering-hiring/q.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

  .answer {
    background-image: url(/images/artsy-engineering-hiring/answer-header.svg);
    background-repeat: no-repeat;
    background-position: 92px 0px;
    margin-bottom: 20px;
    padding-top: 12px;
    line-height: 36px;

    img {
      width: 60px;
      margin: 0;
      margin-left: 20px;
      float: left;
    }

    p {
      margin-left: 120px;
      padding-bottom: 0;
    }

    p:last-child {
      margin-bottom: 60px;
    }

    p.intro {
      font-style: italic;
    }
  }
}

aside:before, aside:after {
  content: '';
  display: block;
  background-image: url(/images/artsy-engineering-hiring/hr.png); // Tried to get an SVG rendering but it's just too cool for Safari.
  background-repeat: no-repeat;
  width: 100%;
}

aside:before {
  background-position: top center;
  height: 70px;
}

aside:after {
  background-position: bottom center;
  height: 30px;
}
