@media screen and (min-width: 900px) {
  body > div {
    background-image: url(/images/context-switching/context-switching-headline.svg);
    background-repeat: no-repeat;
    background-position: top 80px right;
  }
}

@media screen and (max-width: 899px) {
  body > div {
    background-image: url(/images/context-switching/context-switching-headline.svg);
    background-repeat: no-repeat;
    background-size: 175%;
    background-position: -138px 156px;
  }
}
