@media screen and (min-width: 900px) {
  body > div {
    background: url(/images/danger/bg.png) no-repeat;
  }
}

@media screen and (max-width: 899px) {
    body > div {
    background: url(/images/danger/bg-small.png) no-repeat;
  }
}
