 // Tried to get SVGs rendering consistently with the gradients I want, but 
 // they're just too awesome, so we use PNGs.
aside.dialogue {
  margin-bottom: 30px;
  width: 100%;

  // Stuff to make the aside wider than its parent element on desktop.
  // Specifically, we make it 70% of the screen's width.
  @media screen and (min-width: 1200px) {
    margin-left: calc(370px - 35vw); // 370px is half of the parent's 740px
    width: 70vw;
  }
  // We cap the 70% grow to 1600 pixels.
  @media screen and (min-width: 1600px) {
    margin-left: calc(370px - 800px*0.7);
    width: calc(1600px*0.7);
  }

  .question {
    h3 {
      font-weight: normal;
      font-size: 25px;
      line-height: 33px;
      margin-bottom: 45px;
      margin-top: 0;
    }

    @media only screen and (min-width: 768px) {
      h3 {
        font-size: 40px;
        line-height: 51px;
        margin-bottom: 20px;
      }

      // desktop gets a cool-looking Q
      padding-left: 124px;
      margin-bottom: 50px;
      min-height: 78px;
      background-image: url(/images/dialogue/q.svg);
      background-repeat: no-repeat;
      background-position: 0px 8px; //8px to compensate for line height on h3
    }
  }

  .answer {
    background-image: url(/images/dialogue/answer-header.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;
    line-height: 36px;
    
    // images get an extra 20px left margin on desktop
    background-position: 72px 0px;
    @media only screen and (min-width: 768px) {
      background-position: 92px 0px;
    }

    img {
      width: 60px;
      margin: 0;
      float: left;
      border-radius: 3px;
      top: 1px;

      margin-left: 0;
      @media only screen and (min-width: 768px) {
        margin-left: 20px; // Here's that extra margin.
      }
    }

    p {
      padding-bottom: 0;

      margin-left: 100px;
      @media only screen and (min-width: 768px) {
        margin-left: 120px; // Extra margin again.
      }
    }

    p:last-child {
      margin-bottom: 60px;
    }

    p.intro {
      font-style: italic;
      padding-top: 12px;
    }
  }
}

aside.dialogue:before, aside.dialogue:after {
  content: '';
  display: block;
  background-image: url(/images/dialogue/hr.png);
  background-repeat: no-repeat;
  width: 100%;
}

aside.dialogue:before {
  background-position: top center;
  height: 70px;
}

aside.dialogue:after {
  background-position: bottom center;
  height: 10px;
}
