@media screen and (min-width: 900px) {
  body > div {
    background-image: url(/images/frontend-tech/bg.svg);
    background-repeat: no-repeat;
    background-position: 450px -150px;
  }
}

@media screen and (max-width: 899px) {
    body > div {
    background: url(/images/frontend-tech/bg.svg);
    background-repeat: no-repeat;
    background-position: -140px -60px;
    background-size: 175%;
  }
}
