@media screen and (min-width: 900px) {
  body > div {
    background-image: url(/images/svgs/graphql.svg);
    background-repeat: no-repeat;
    background-position: 20px -100px;
  }
}

@media screen and (max-width: 899px) {
  body > div {
    background: url(/images/svgs/graphql.svg);
    background-repeat: no-repeat;
    background-position: -100px 40px;
  }
  code {
    font-size: 10px;
  }
}
