@media screen and (min-width: 900px) {
  body > div {
    background-image: url(/images/svgs/stitch-bg.svg);
    background-repeat: no-repeat;
    background-position: right -80px;
  }
}

@media screen and (max-width: 899px) {
  body > div {
    background: url(/images/svgs/stitch-bg.svg);
    background-repeat: no-repeat;
    background-position: -100px 40px;
    background-size: 175%;
  }
  code {
    font-size: 10px;
  }
}
