
@media screen and (min-width: 900px) {
  body > div {
    background-image: url(/images/react-native/artsy_react_logo_30.svg);
    background-repeat: no-repeat;
    background-position: 390px -200px;
  }
}

@media screen and (max-width: 899px) {
    body > div {
    background: url(/images/react-native/artsy_react_logo_30.svg) no-repeat;
    background-position: -100px 40px;
  }
  code {
    font-size: 10px;
  }
}

.component {
  border: 1px solid #80D7DA;
  color: darken(#80D7DA, 40);
  font-size: 14;
  min-height: 30px;
  min-width: 155px;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding-left: 10px;
  padding-top: 5px;
  display: inline-block;
  background-color: white;

  p {
    padding: none;
  }
}

.component.hover {
  background-color: #80D7DA;
  border: 1px solid black;
}


.expand-please {
  display: none;
}

@media screen and (max-width: 1100px) {
  .expand-please {
    display: block;
  }
}


