@media screen and (min-width: 900px) {
  body > div {
    background-image: url(/images/react-native/artsy_react_logo_30.svg);
    background-repeat: no-repeat;
    background-position: 390px -10px;
  }
}

@media screen and (max-width: 899px) {
    body > div {
    background: url(/images/react-native/artsy_react_logo_30.svg) no-repeat;
    background-position: 200px 40px;
  }
}


.component {
  border: 1px solid gray;
  min-height: 30px;
  min-width: 150px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  display: inline-block;
  background-color: white;

  p {
    padding: none;
  }
}
