
{% if project["category"] == "featured" %}
<div class="open-source-project featured">
{% else %}
<div class="open-source-project">
{% endif %}

  <div class="open-source-title">
    <h2><a href="{{ project["repository"]}}">{{ project["title"]}}</a></h2>
  </div>

  <div class="open-source-description">
    {% if project["svg"] %}
      {% svg_for_project %}
    {% endif %}

    <p>{{ project["description"] }}</p>

    <div class="open-source-description-link">
      <a href="{{ project["repository"] }}">{{ project["link"] }}</a>
    </div>
  </div>
  <div class="open-source-updated"><span>{{ project["created"] }}</span></div>
  <footer></footer>
</div>
