{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>
  <div id="logo-container">
    <div id="lrg-mark">
      <a href="/"><img src="/images/fixed_logo.png"></a>
    </div>
  </div>
  <header id="banner">{% include header.html %}</header>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
    <div id="sidebar">
      {% include custom/sidebar.html %}
    </div>
  </div>
  <footer id="main_footer">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
