{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>
  
  <a href="/">
    <h1 id="lrg-mark">
      <span>Art.sy</span>
    </h1>
  </a>
  
  <header id="banner">{% include header.html %}</header>
  
  <div id="main">
    <div id="mobile_search">
      <form action="{{ site.simple_search }}" method="get">
        <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
        <input class="search" type="text" name="q" results="0" placeholder="Search" />
      </form>
    </div>
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
    <div id="sidebar">
      {% include custom/sidebar.html %}
    </div>
  </div>
  <footer id="main_footer">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
