---
layout: default
single: true
---

<div>
  <article class="hentry" role="article">
    {% if page.wide == true %}
    <div class ="wide">
    {% endif %}

    {% include article.html %}

    {% if page.wide == true %}
    </div>
    {% endif %}
  </article>

  {% if site.disqus_short_name and page.comments == true %}
    <section class="comments">
      <h1>Comments</h1>
      <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
    </section>
  {% endif %}
</div>
