body {
  margin: 0;
  padding: 0;
}

body > div > div {
  max-width: 1000px;
  margin: 0 auto;
}

body > div > div > header {
  display: flex; 
  justify-content: space-between;
  padding-top: 48px;

  ul li:first-child {
    font-weight: bold;
  }
}

body > div > div > section > header#page {
  margin-top: 160px;
  margin-bottom: 160px;

  // Title
  h1 {
    font-size: 64px;
  }
  // Author subheading
  h3 {
    font-size: 22px;
  }
}

article.post {
  font-size: 22px;
  line-height: 36px;
  max-width: 740px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  
  figure.code {
    float: none;
  }

  p {
    padding-bottom: 1.25em;
  }

  p > img {
    width: 100%;
    text-align: center;
  }

  p > img.headline {
    position: relative;
    left: -60px;
    right: -60px;
    top: 0;
    max-width: calc(100% + 60px)
  }

  p > img.callout {
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 48px;
    font-weight: normal;
    line-height: 48px;
  }

  h2 {
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
  }

  ul {
    padding-bottom: 1.25em;

    li {
      list-style-type: circle;
      display: list-item;
    }
  }
}

body > div > div > footer {
  border-top: 1px lightgrey solid;
  padding-top: 30px;

  article {
    display: flex; 

    section {
      flex: 1;
      border-left: 1px lightgrey solid;
      padding-right: 24px;
      padding-left: 24px;

      h4 {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    section:first-child {
       border-left: none;
    }
  }
}


@media screen and (max-width: 800px) {
  body {
    header {
      margin: 40px 20px;
    }
  }

  body > div > div > footer article {
    flex-direction: column;
    section {
      padding-top: 20px;
    }
  }
}
