body {
  margin: 0;
  padding: 0;
}

body > div > div {
  max-width: 1000px;
  margin: 0 auto;
}

body > div > div > header {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;

  ul li:first-child {
    font-weight: bold;
  }
}

body > div > div > section > header#page {
  margin-top: 160px;
  margin-bottom: 160px;

  // Title
  h1 {
    font-size: 64px;
    font-weight: 400;
  }
  // Author subheading
  h3 {
    font-size: 22px;
    font-weight: 400;
  }
}

article.post {
  font-size: 22px;
  line-height: 36px;
  max-width: 740px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (max-width: 480px) {
    padding-left: 0;
    padding-right: 0;
  }

  figure.code {
    float: none;
  }
  
  
  p code, li code {
    border: none;
    font-size: 0.6em;
    background: #f6f6f6;
  }

  p {
    padding-bottom: 1.25em;
  }

  p > img {
    width: 100%;
    text-align: center;
  }

  p > img.headline {
    position: relative;
    left: -60px;
    right: -60px;
    top: 0;
    max-width: calc(100% + 60px)
  }

  p > img.callout {
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 48px;
    font-weight: normal;
    line-height: 48px;
  }

  h2 {
    font-size: 36px;
    font-weight: normal;
    line-height: 58px;
  }

  ul {
    padding-bottom: 1.25em;

    li {
      list-style-type: circle;
      display: list-item;
    }
  }


  & > table, & > blockquote > table {
    margin: 0 auto;
    padding: 30px 0;
  }
}

body > div > div .comment {

  background-image: url(/images/epic/comment-header.svg);
  background-repeat: no-repeat;
  background-position: 60px 10px;
  margin-bottom: 20px;

  .comment-header {
    color: #999;
  }

  .comment-username {
    font-weight: bold;
  }

  a.comment-date {
    color: #999;
    &:hover {
          color: #444;
    }
   }

  .comment-body {
    padding-left: 90px;
    padding-top: 10px;
  }

  .comment-reactions {
    padding-left: 90px;
  }

  img {
    border-radius: 3px !important;
    vertical-align: middle;
    margin-right: 50px;
  }

  p {
    padding-bottom: 0.75em;
  }

  p:last-child {
    padding-bottom: 0em;
  }

  .emoji {
    margin-right: 5px;
    vertical-align: bottom;
    font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  .emoji-wrapper {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px lightgrey solid;
    vertical-align: middle;
  }

  .emoji-wrapper:last-child {
    border:none;
  }
}

body > div > div > footer {
  border-top: 1px lightgrey solid;
  padding-top: 30px;

  article {
    display: flex;

    section {
      flex: 1;
      border-left: 1px lightgrey solid;
      padding-right: 24px;
      padding-left: 24px;

      h4 {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    section:first-child {
       border-left: none;
    }
  }
}


.split-desktop-only {
  display: flex;
  flex-flow:row;
}

@media screen and (max-width: 480px) {
  body {
    padding: 20px;
  }

  body > div > div > header {
    padding-top: 0;

    li {
      font-size: 18px;
    }
  }

  body > div > div > section > header#page h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 800px) {
  body > div > div > section > header#page {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  body > div > div > footer article {
    flex-direction: column;
    section {
      padding-top: 20px;
    }
  }
  .split-desktop-only {
    flex-flow:column;
  }
}

// Diff colours

.pre-code .gi, html .gist .gist-file .gist-syntax .gist-highlight pre .gi, .highlight code .gi {
  background-color: #befed7 !important;
}

.pre-code .gd, html .gist .gist-file .gist-syntax .gist-highlight pre .gd, .highlight code .gd {
  background-color: #ffd8d3 !important;
}

ol {
  li {
    display: list-item;
  }
  list-style-type: upper-roman;
}
.desktop-only {
  display: flex;
}

.mobile-only  {
  display: none;
}

@media only screen and (max-device-width: 667px) { 
  .desktop-only {
    display: none !important;
  }

  .mobile-only  {
    display: block !important;
  }
}
