@import "compass";
@import "base/utilities";

@import "custom/colors";
@import "custom/fonts";

@import "base/solarized";
@import "partials/syntax";
@import "custom/styles";

$highlight-color: #6A00CC;
$text-color: #636;

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// CSS trick to adjust the border-bottom to make it look like a nicer text-decoration: underline

@mixin link-underline {
  & {
    background-image: linear-gradient(top, transparent 0, black 1px, transparent 0);
    background-size: 1px 5px;
    background-repeat: repeat-x;
    background-position: bottom;
    text-decoration: none;
    &:active {
      text-decoration: none;
    }
  }
}


// reused styling across top level containers
@mixin desktop-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

body {
  background-color: $artsy_bg;
  color: $artsy_text;
  font-family: $serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;

  background-image: url(/images/gradient.png);
  background-repeat: repeat-x;
  background-position: 0px 0px;

  @media screen and (max-width: 799px) {
    margin: 20px;
  }
  max-width: none;
  margin: auto;
  line-height: normal;
  font-size: 20px;
  & a {
    text-decoration: none;
  }
}

h1, h2, h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin: 0;
  a {
    text-decoration: none;
  }
}

ul{
  padding: 0;
  margin: 0;
  list-style: square inside;
  overflow: hidden;
}

li{
  margin: 0;
  padding: 0;
  display: block;
}

figure {
  display: block;
  margin: 0px;
  padding: 0px;
}

figure figcaption {
  display: block;
}

figure.code {
  figcaption {
    display: block;
  }
  pre {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

a, a:hover, a:visited, a:active {
  color: $artsy_text;
}

a[name]:before {
  display: block;
  content: '';
  margin-top: -121px;
  height: 121px;
  visibility: hidden;
}

img {
  max-width: 100%;
  margin: 20px 0;
  position: relative;
  z-index: 1;
  top: -1px
}

blockquote {
  border-left: 2px solid black;
  margin: 0 0 0 -15px;
  padding: 0 0 0 20px;
}

// inspired by: https://github.com/artsy/elan/blob/578334842dbd8673ee727258f88243a490dcf34f/components/lib/mixins.styl#L111
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.spinner-wrapper {
  text-align: center;
}

.spinner {
  $width: 25px;
  $height: 6px;
  display: inline-block;
  background: #6e1fff;
  width: $width;
  height: $height;
  top: calc(50% - #{$height} / 2);
  left: calc(50% - #{$width} / 2);
  animation: spin 1s infinite linear;
}

#logo-container{
  @include desktop-container;

  #lrg-mark {
    position: fixed;
    bottom: 40px;
    height: 40px;

    @media screen and (max-width: 799px) {
      display: none;
    }
  }
}

.sticky-wrapper {
  min-height: 221px !important;
}

header#banner {
  width: 100%;
  z-index: 999;
  background-image: url(/images/gradient.png);
  background-repeat: repeat-x;
  background-position: 0px 0px;
  background-color: $artsy_bg;

  &.stuck {
    position: fixed;
    top: -100px;
  }

  #header {
    @include desktop-container;
    padding-top: 40px;
    position: relative;
    height: 180px;
    border-bottom: 1px solid $artsy-text;

    .header-navigation{
      margin-left: 250px;
      height: 100px;
      position: static;
      ul{
        float: left;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      li{
         float: left;
         margin: 0 40px 0 0;
         display: block;
      }
      & a:hover {
        color: $artsy_bright;
      }
    }

    .header-sticky-container{
      width: 100%;
      padding-bottom: 40px;
    }

    .header-section-title{
      float: right;
    }

    .header-logo{
      float: left;
      width: 50%;
      max-width: 250px;
    }

    .header-search{
      margin-left: 250px;
      ::-webkit-input-placeholder { /* WebKit browsers */
        color: $artsy-text;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $artsy-text;
        opacity:  1;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $artsy-text;
        opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    $artsy-text;
      }
      input{
        background-color: transparent;
        border: none;
        width: 100%;
        margin: 0;
        font-family: $serif;
        color: black;
        font-size: 20px;
        outline: 1px black;
        &::-webkit-input-placeholder {
          font-style: italic;
        }
        &::-moz-placeholder {
          font-style: italic;
        }
        &:-ms-input-placeholder {
          font-style: italic;
        }
      }
    }
  }
}

.header-hamburger {
  display: none;
}

@media screen and (max-width: 799px) {
  .header-hamburger {
    display: block;
  }
  header#banner {
    position: relative;
    height: 370px;
    border-bottom: 1px solid;
    max-height: 70px;
    overflow: hidden;
    @include transition(max-height 0.3s ease-in-out);
    &.active {
      max-height: 600px;
    }
    &.stuck {
      position: relative; // release `pos: fixed`
    }
    // There's so much floating and sizing in desktop let's reset it (  ._.)
    * {
      float: none !important;
      width: auto !important;
      height: auto !important;
      margin: 0 !important;
    }
    #header {
      border-bottom: 0;
      padding-top: 0;
    }
    .header-navigation {
      @include transition(opacity 0.2s ease-in-out);
      position: absolute !important;
      margin-top: 92px !important;
      margin-left: 50% !important;
      li {
        margin-bottom: 30px !important;
      }
    }
    .header-search h2 {
      border-bottom: 1px solid;
      margin-bottom: 20px !important;
      padding-bottom: 20px !important;
    }
    input.search {
      width: 100% !important;
    }
    #header.search-focused {
      .header-navigation {
        opacity: 0;
      }
    }
  }
  #search-container, #blog-archives {
    margin-left: 0 !important;
  }
  
}

#main {
  display: block;
  margin-top: 40px;

  @media screen and (min-width: 800px) {
    @include desktop-container;
  }
  @media screen and (max-width: 799px) {
    margin-top: 0;
    #content {
      padding-top: 30px !important;
    }
  }

  #mobile_search {
    display: block;
    border-top: 1px solid $artsy-text;
    border-bottom: 1px solid $artsy-text;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 800px) {
      display: none;
    }

    input {
      margin-left: auto;
      margin-right: auto;
      background-color: transparent;
      border: 2px solid $artsy-text;
      border-radius: 0 0 0 0;
      color: $artsy-text;
      font-family: $serif;
      font-size: 17px;
      height: 1.5em;
      padding-left: 0.5em;
      width: 90%;
      border-radius: none;
      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder {
          color: $artsy-text;
      }
      &:-moz-placeholder {
          color: $artsy-text;
      }

    }
  }

  .sticky-wrapper {
    height: 0px !important;
    width: auto;
    float: left;
  }

  #content {
    width: 100%;
    padding-top: 50px;
    footer {
      clear: both;
    }
  }
}

[data-twttr-id="twttr-sandbox-0"] {
  text-align: left;
  margin-bottom: 20px;
  iframe {
    margin: 0 !important;
  }
}

// Experimental long form stylings see #310
.longform article {
  font-size: 22px;

  .meta-container {
    float: none;
    max-width: 100%;
    width: 100%;
  }

  .article-container-single {
    margin: 5% auto;
    max-width: 700px;
    width: 100%;

    .content-container {
      width: auto;
      margin-left:0;
    }

    .entry-content > figure {
      margin-left: 10%;
      width: 90%;
    }
  }
}

article {
  display: block;
  height: 100%;
  margin-bottom: 40px;
  line-height: 1.6em;
  @media screen and (max-width: 799px) {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  h1, h2, h3 {
    margin: 40px 0;
  }

  em {
    font-style: italic;
  }

  p {
    margin-top: 0px;

    & a {
      @include link-underline;
    }
  }

  ul {
    margin-bottom: 20px;
    & a {
      @include link-underline;
    }
  }

  p > code, li > code  {
    color: $artsy-text;
    font-family: $mono;
    font-size: 14px;
    padding: 4px 8px;
    @include border-radius(0px);
    background: #f6f6f6;
    border: 0;
  }

  p.meta-paginate {
    margin-top: 70px;
    & a {
      width:40%;
      float: left;
      // these get multi-lined easily
      // so disable the weird background image
      // underline for these links.
      background-image: none;
    }
    & a.next {
      float: right;
      text-align: right;
    }
  }

  @media screen and (max-width: 799px) {
    p.meta-paginate a {
      float: left;
      clear: both;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
    }
  }

  span.fn {
    margin-bottom: 3px;
    margin-top: 3px;
  }

  footer {
    margin-bottom: 20px;
    & a {
      @include link-underline;
    }
    clear: both;
  }

  .article-container {
    @media screen and (min-width: 800px) {
      margin-left: 250px;
      border-bottom: 1px solid $artsy-text;
    }

    @media screen and (max-width: 799px) {
      margin-left: 0px;
    }

    li {
      display: list-item;
      margin-left:12px;
    }
  }

  .article-container-single {
    @media screen and (min-width: 800px) {
      margin-left: 250px;
      margin-bottom: 80px;
    }

    @media screen and (max-width: 799px) {
      margin-left: 0px;
    }

    li {
      display: list-item;
      margin-left:12px;
    }
  }

  .meta-container {
    @media screen and (min-width: 800px) {
      margin-top: 0px;
      float: left;
      width: 25%;
      max-width: 180px;
      padding-right: 50px;
      min-height:34px;
    }

    @media screen and (max-width: 799px) {
      float: none;
    }
    h2{
      margin: 0;
    }
  }

  .content-container {
    @media screen and (min-width: 800px) {
      float: left;
      width: 68%;
    }
    @media screen and (max-width: 799px) {
      float: none;
    }

    margin-bottom:60px;
  }

  .date-container {
    @media screen and (min-width: 800px) {
      width: 15%;
      margin-left: 5%;
      float: right;
    }
    @media screen and (max-width: 799px) {
      float: none;
    }
  }

  .meta {
    margin-top: 3px;
    margin-bottom: 3px;
    & a {
      @include link-underline;
    }
  }
}

article .article-container-single {

  .entry-content > figure {
    width: 100%;

    @media screen and (min-width: 800px) {
      margin-left: -56%;
      width: 160%;
      margin-right: 0;
      float: none;
      max-width: none;
    }
  }


  @media screen and (min-width: 1200px) {
    .content-container {
      width:68%;
      margin-left:5%;
    }

    .entry-content > figure {
      margin-left: -30%;
      width: 130%;
      margin-right: 0;
      float: none;
      max-width:none;
    }
  }

}

.sharing {
  margin-top: 30px;
}

#open-source-content {
  margin-left: 250px;

  h1{
    font-size: 30px;
    font-weight: normal;
    line-height: 42px;

    a {
      @include link-underline;
    }
  }

  #lead{
    width: 81%;
    margin-bottom: 600px;
  }

  svg {
    max-width:100%;
  }

  .open-source-category-header{
    margin-top: 350px;
    border-bottom: 1px solid $artsy-text;

    .open-source-category-header-title{
      float: left;
      width: 180px;
      padding-right: 50px;
    }

    .open-source-category-header-description {
      float: left;
      width: 55%;
    }

    .open-source-category-header-updated{
      float: right;
      margin-right: 20px;
    }

    footer {
      margin-bottom: 20px;
      & a {
        @include link-underline;
      }
      clear: both;
    }
  }

  .open-source-category{

    .open-source-project{
      padding-bottom: 40px;
      margin-top: 40px;
      border-bottom: 1px solid $artsy-text;
    }

    .open-source-featured-image{
      margin-left: 230px;
      // width: 100%;
      margin-bottom: 40px;
    }

    .open-source-title{
      margin-top: 0px;
      float: left;
      width: 180px;
      padding-right: 50px;
      word-wrap: break-word;
    }

    .open-source-description{
      float: left;
      width: 55%;
      a {
        @include link-underline;
      }
      & p {
        margin-top:0;
      }

    }

    .open-source-description-link{
      margin-top: 30px;
    }

    .open-source-updated{
      float: right;
      margin-right: 20px;
    }

    footer {
      margin-bottom: 20px;
    & a {
      @include link-underline;
    }
      clear: both;
    }
  }
}

#page-sidebar {
  float: left;
  ul{
    padding: 0;
    margin-top: 0;
    margin-left: 0px;
    list-style-type: none;
  }
  li{
     font-size: 20px;
     margin-bottom: 20px;
     margin-top: 0px;
     display: block;
  }
  a:hover {
    color: $artsy_bright;
  }
  &.stuck {
    position:fixed;
    top: 210px;
  }
  .selected {
    color: $artsy_bright;
  }
}

@media screen and (max-width: 799px) {
  #page-sidebar {
    display: none;
    position: absolute !important;
    top: 112px !important;
    width: 40% !important;
    z-index: 999;
    li {
      margin-bottom: 30px !important;
    }
  }
  #open-source-content {
    margin-left: 0 !important;
    #lead {
      margin-bottom: 60px !important;
      width: 100% !important;
    }
    h1 {
      font-size: 19px !important;
      line-height: 28px !important;
    }
  }
  .open-source-project * {
    float: none !important;
  }
  .open-source-category-header {
    display: none !important;
  }
  .open-source-description {
    width: 100% !important;
  }
  .open-source-featured-image {
    margin: 0 !important;
  }
  .open-source-featured-image {
    width: 100% !important;
  }
  .open-source-updated {
    margin-top: 30px !important;
    margin-right: 20px !important;
  }
  .open-source-title {
    margin-bottom: 30px;
  }
  .footer-navigation {
    margin: 30px 0 !important;
    width: auto !important;
    * {
      margin: 0 !important;
    }
    li {
      display: inline-block;
      padding-right: 10px;
    }
  }
  .pagination {
    padding-left: 0 !important;
  }
}

footer .meta {
  margin-top: 30px;
}

#blog-archives {
  margin-left: 250px;
  a, a:hover, a:visited, a:active {
    color: $artsy-text;
  }

  article {
    display: block;
    padding: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
  }

  footer {
    padding-top: 20px;
  }

  h2 {
    border-bottom: 1px solid $artsy-text;
    margin: 60px 0 20px 0;
    clear:both;
  }

  article .content-container {
    margin-bottom: 30px;
  }
}

.page-title {
  text-align: center;
  margin-top: 20px;
}

.pagination {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 250px;
  a {
    @include link-underline;
    margin-right: 20px;
  }
}

figure.code {
  float:left;
  max-width:100%;

  .gutter, figcaption {
    display: none;
  }

  .line-number {
    color: $text-color !important;
    @include text-shadow(transparent  0 0 0);
  }

  code {
    background-color: transparent !important;
  }

  @include box-shadow(transparent 0 0 0 !important);

  .highlight {
    background-color: #f6f6f6 !important;
    border: 0 !important;
    .line-numbers {
      background: transparent !important;
      border: none !important;
    }
  }

  span {
    font-family: $mono;
    overflow-x: scroll;

    @media screen and (max-width: 400px) {
      font-size: 10px;
      line-height: 14px;
    }

  }
}

.footer-navigation {
  @include desktop-container;
  margin-top: 240px;
  margin-bottom: 40px;

  ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 250px;
    list-style-type: none;
    overflow: hidden;
  }
  li {
     font-size: 20px;
     float: left;
     margin-right: 40px;
     margin-bottom: 0;
     margin-top: 0px;
     display: block;
  }
}

#search-container {
  margin: 0;
  padding: 0;
  margin-left: 250px;
  text-decoration: none;

  h2 {
    border-bottom: 1px solid $artsy-text;
    margin: 60px 0 20px 0;
    clear: both;
  }

  a {
    font-weight: bold;
  }

  li {
    margin-bottom: 30px;
  }
}

//
// Hamburger menu
// Stolen from http://callmenick.com/post/animating-css-only-hamburger-menu-icons
//

.header-hamburger {
  position: absolute;
  top: -10px;
  right: -19px;
  @include transform(scale(0.4));
  z-index: 9999;
}

.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 108px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 45px;
  left: 18px;
  right: 18px;
  height: 6px;
  background: black;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: black;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -27px;
}

.cmn-toggle-switch span::after {
  bottom: -27px;
}

.cmn-toggle-switch__htx {
  background-color: transparent;
}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.cmn-toggle-switch__htx.active {
  background-color: transparent;
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}

.index-sidebar {
  float: left;
  width: 50%;
  max-width: 230px;
  h1 {
    margin: 0;
    margin-bottom: 20px;
  }
}

.index-main {
  margin-left: 250px;
  padding-top: 56px;
}

@media screen and (max-width: 800px) {
  .index-sidebar {
    max-width:100%;
    width: 100%;
      text-align:center;

    .meta {
      display: inline-block;
      padding-right:4px;
    }

    .author {
      border-left: 1px solid black;
      padding-left: 10px;
    }
    .first {
      border-left: none;
      padding-left: none;
    }

    .twitter {
      display:none;
    }
  }
  .index-main {
    clear:left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 56px;
  }
}

table  a {
  @include link-underline;
}
