{% comment %}
{% endcomment %}

<script type="text/javascript">

  // Main sticky header
  if ($(window).width() >= 700) {
    var sticky = new Waypoint.Sticky({
      element: $("#banner"),
      offset: -100
    });
  }

  // Toggle hamburger menu
  $('.header-hamburger').click(function() {
    $('#banner, .cmn-toggle-switch').toggleClass('active');
  });

  {% if page.opensource == true %}
    // render open source projects
    var groupedRepositories = _.groupBy(repositories, function(repository){ return repository.category })
    _.each(groupedRepositories, function(categorizedRepositories, index){
      var collection = new Backbone.Collection(categorizedRepositories);
      new RepositoriesView({collection: collection, el: $("#" + collection.models[0].attributes.category)});
    });

    // stick open source category sidebar
    var sticky = new Waypoint.Sticky({
      element: $("#page-sidebar"),
      handler: function(direction) {
      },
      offset: 210
    })

    // scroll to each section smoothly
    $('#page-sidebar a').click( function() {
      $.scrollTo(
        $(this).attr("href"),
        {
          duration: 800,
          offset: { 'left':0, 'top': -211 }
        }
      );
    });

    // set active section when scrolled to
    _.each($("section"), function(category){
      var waypoint = new Waypoint({
        element: category,
        handler: function(direction) {
          var active_section = $(category);
          if (direction === "up") active_section = active_section.prev();
          var active_link = $('#page-sidebar a[href="#' + active_section.attr('id') + '"]');
          $('#page-sidebar a').removeClass("selected");
          active_link.addClass("selected");
        },
        offset: 250
      })
    })
  {% endif %}
</script>
