<div id="header">
  <div class="header-navigation">
    <ul>
      <li><a href="https://developers.artsy.net/">API</a></li>
      <li><a href="https://www.artsy.net/jobs">Careers</a></li>
      <li><a href="http://twitter.com/artsyopensource">@artsyopensource</a></li>
      <li><a href="http://www.artsy.net/">Artsy.net</a></li>
    </ul>
    <span class="header-section-title">
      {% if page.section == opensource %}
        <a href="{{ site.url }}/open-source">Open Source</a>
      {% else %}
        <a href="{{ site.url }}">Engineering Blog</a>
      {% endif%}
    </span>
  </div>

  <div class="header-sticky-container">
    <div class="header-logo">
      <span><a href="{{ site.url }}">Artsy</a></span>
    </div>
    <div class="header-search">
      {% if page.section == opensource %}
        <h1>Engineering Blog</h1>
        <span>{% include asides/search.html %}</span>
      {% else %}
        <h1>Open Source</h1>
        <span>Latest Commit: 4 hours ago by craigspaeth on artsy/positron</span>
      {% endif%}
    </div>
  </div>
</div>
