/* line 3, ../../_sass/posts/artsy-engineering-hiring.scss */
aside {
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  /* line 3, ../../_sass/posts/artsy-engineering-hiring.scss */
  aside {
    margin-left: calc(370px - 35vw);
    width: 70vw;
  }
}
@media screen and (min-width: 1600px) {
  /* line 3, ../../_sass/posts/artsy-engineering-hiring.scss */
  aside {
    margin-left: calc(370px - 800px*0.7);
    width: calc(1600px*0.7);
  }
}
/* line 20, ../../_sass/posts/artsy-engineering-hiring.scss */
aside .question h3 {
  font-weight: normal;
  font-size: 25px;
  line-height: 33px;
  margin-bottom: 45px;
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  /* line 19, ../../_sass/posts/artsy-engineering-hiring.scss */
  aside .question {
    padding-left: 124px;
    margin-bottom: 50px;
    min-height: 78px;
    background-image: url(/images/artsy-engineering-hiring/q.svg);
    background-repeat: no-repeat;
    background-position: 0px 8px;
  }
  /* line 29, ../../_sass/posts/artsy-engineering-hiring.scss */
  aside .question h3 {
    font-size: 40px;
    line-height: 51px;
    margin-bottom: 20px;
  }
}
/* line 45, ../../_sass/posts/artsy-engineering-hiring.scss */
aside .answer {
  background-image: url(/images/artsy-engineering-hiring/answer-header.png);
  background-repeat: no-repeat;
  margin-bottom: 20px;
  line-height: 36px;
  background-position: 72px 0px;
}
@media only screen and (min-width: 768px) {
  /* line 45, ../../_sass/posts/artsy-engineering-hiring.scss */
  aside .answer {
    background-position: 92px 0px;
  }
}
/* line 57, ../../_sass/posts/artsy-engineering-hiring.scss */
aside .answer img {
  width: 60px;
  margin: 0;
  float: left;
  border-radius: 3px;
  top: 1px;
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  /* line 57, ../../_sass/posts/artsy-engineering-hiring.scss */
  aside .answer img {
    margin-left: 20px;
  }
}
/* line 70, ../../_sass/posts/artsy-engineering-hiring.scss */
aside .answer p {
  padding-bottom: 0;
  margin-left: 100px;
}
@media only screen and (min-width: 768px) {
  /* line 70, ../../_sass/posts/artsy-engineering-hiring.scss */
  aside .answer p {
    margin-left: 120px;
  }
}
/* line 79, ../../_sass/posts/artsy-engineering-hiring.scss */
aside .answer p:last-child {
  margin-bottom: 60px;
}
/* line 83, ../../_sass/posts/artsy-engineering-hiring.scss */
aside .answer p.intro {
  font-style: italic;
  padding-top: 12px;
}

/* line 90, ../../_sass/posts/artsy-engineering-hiring.scss */
aside:before, aside:after {
  content: '';
  display: block;
  background-image: url(/images/artsy-engineering-hiring/hr.png);
  background-repeat: no-repeat;
  width: 100%;
}

/* line 98, ../../_sass/posts/artsy-engineering-hiring.scss */
aside:before {
  background-position: top center;
  height: 70px;
}

/* line 103, ../../_sass/posts/artsy-engineering-hiring.scss */
aside:after {
  background-position: bottom center;
  height: 10px;
}
