@media screen and (min-width: 900px) {
  /* line 2, ../../_sass/posts/danger.scss */
  body > div {
    background: url(/images/danger/bg.png) no-repeat;
  }
}
@media screen and (max-width: 899px) {
  /* line 8, ../../_sass/posts/danger.scss */
  body > div {
    background: url(/images/danger/bg-small.png) no-repeat;
  }
}
