aside.dialogue {
  margin-bottom: 30px;
  width: 100%; }
  @media screen and (min-width: 1200px) {
    aside.dialogue {
      margin-left: calc(370px - 35vw);
      width: 70vw; } }
  @media screen and (min-width: 1600px) {
    aside.dialogue {
      margin-left: calc(370px - 800px*0.7);
      width: calc(1600px*0.7); } }
  aside.dialogue .question h3 {
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 45px;
    margin-top: 0; }
  @media only screen and (min-width: 768px) {
    aside.dialogue .question {
      padding-left: 124px;
      margin-bottom: 50px;
      min-height: 78px;
      background-image: url(/images/dialogue/q.svg);
      background-repeat: no-repeat;
      background-position: 0px 8px; }
      aside.dialogue .question h3 {
        font-size: 40px;
        line-height: 51px;
        margin-bottom: 20px; } }
  aside.dialogue .answer {
    background-image: url(/images/dialogue/answer-header.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;
    line-height: 36px;
    background-position: 72px 0px; }
    @media only screen and (min-width: 768px) {
      aside.dialogue .answer {
        background-position: 92px 0px; } }
    aside.dialogue .answer img {
      width: 60px;
      margin: 0;
      float: left;
      border-radius: 3px;
      top: 1px;
      margin-left: 0; }
      @media only screen and (min-width: 768px) {
        aside.dialogue .answer img {
          margin-left: 20px; } }
    aside.dialogue .answer p {
      padding-bottom: 0;
      margin-left: 100px; }
      @media only screen and (min-width: 768px) {
        aside.dialogue .answer p {
          margin-left: 120px; } }
    aside.dialogue .answer p:last-child {
      margin-bottom: 60px; }
    aside.dialogue .answer p.intro {
      font-style: italic;
      padding-top: 12px; }

aside.dialogue:before, aside.dialogue:after {
  content: '';
  display: block;
  background-image: url(/images/dialogue/hr.png);
  background-repeat: no-repeat;
  width: 100%; }

aside.dialogue:before {
  background-position: top center;
  height: 70px; }

aside.dialogue:after {
  background-position: bottom center;
  height: 10px; }
