@media screen and (min-width: 900px) {
  /* line 2, ../../_sass/posts/frontend-tech.scss */
  body > div {
    background-image: url(/images/frontend-tech/bg.svg);
    background-repeat: no-repeat;
    background-position: 450px -150px;
  }
}
@media screen and (max-width: 899px) {
  /* line 10, ../../_sass/posts/frontend-tech.scss */
  body > div {
    background: url(/images/frontend-tech/bg.svg);
    background-repeat: no-repeat;
    background-position: -140px -60px;
    background-size: 175%;
  }
}
