@media screen and (min-width: 900px) {
  /* line 2, ../../_sass/posts/graphql.scss */
  body > div {
    background-image: url(/images/svgs/graphql.svg);
    background-repeat: no-repeat;
    background-position: 20px -100px;
  }
}
@media screen and (max-width: 899px) {
  /* line 10, ../../_sass/posts/graphql.scss */
  body > div {
    background: url(/images/svgs/graphql.svg);
    background-repeat: no-repeat;
    background-position: -100px 40px;
  }

  /* line 15, ../../_sass/posts/graphql.scss */
  code {
    font-size: 10px;
  }
}
