@media screen and (min-width: 900px) {
  /* line 2, ../../_sass/posts/relay.scss */
  body > div {
    background-image: url(/images/svgs/relay.svg);
    background-repeat: no-repeat;
    background-position: right 90px;
  }
}
@media screen and (max-width: 899px) {
  /* line 10, ../../_sass/posts/relay.scss */
  body > div {
    background: url(/images/svgs/relay.svg);
    background-repeat: no-repeat;
    background-position: -100px 40px;
    background-size: 175%;
  }

  /* line 16, ../../_sass/posts/relay.scss */
  code {
    font-size: 10px;
  }
}
