@media screen and (min-width: 900px) {
  /* line 3, ../../_sass/posts/what-is-react-native.scss */
  body > div {
    background-image: url(/images/react-native/artsy_react_logo_30.svg);
    background-repeat: no-repeat;
    background-position: 390px -200px;
  }
}
@media screen and (max-width: 899px) {
  /* line 11, ../../_sass/posts/what-is-react-native.scss */
  body > div {
    background: url(/images/react-native/artsy_react_logo_30.svg) no-repeat;
    background-position: -100px 40px;
  }

  /* line 15, ../../_sass/posts/what-is-react-native.scss */
  code {
    font-size: 10px;
  }
}
/* line 20, ../../_sass/posts/what-is-react-native.scss */
.component {
  border: 1px solid #80D7DA;
  color: #206b6e;
  font-size: 14;
  min-height: 30px;
  min-width: 155px;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding-left: 10px;
  padding-top: 5px;
  display: inline-block;
  background-color: white;
}
/* line 34, ../../_sass/posts/what-is-react-native.scss */
.component p {
  padding: none;
}

/* line 39, ../../_sass/posts/what-is-react-native.scss */
.component.hover {
  background-color: #80D7DA;
  border: 1px solid black;
}

/* line 45, ../../_sass/posts/what-is-react-native.scss */
.expand-please {
  display: none;
}

@media screen and (max-width: 1100px) {
  /* line 50, ../../_sass/posts/what-is-react-native.scss */
  .expand-please {
    display: block;
  }
}
