{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% if author %}
  <div class="meta">
  <span class="byline author vcard">
    Posted by

    <div class="meta"><span class="fn">
      {{ author }}
    </span></div>
    {% if page.github-url %}
    {% assign author_links = true %}
    {% elsif page.blog-url %}
    {% assign author_links = true %}
    {% elsif page.twitter-url %}
    {% assign author_links = true %}
    {% else %}
    {% assign author_links = false %}
    {% endif %}
    {% if author_links %}
      {% if page.blog-url %}
      <span class="fn">
        <a href="{{ page.blog-url }}">Blog</a>
      </span>
      {% endif %}
      {% if page.github-url %}
      <span class="fn">
        <a href="{{ page.github-url }}">Github</a>
      </span>
      {% endif %}
      {% if page.twitter-url %}
      <span class="fn">
        <a href="{{ page.twitter-url }}">Twitter</a>
      </span>
      {% endif %}
    {% endif %}
  </span>
  </div>
{% endif %}
