{% if post.author %}
  {% assign author_key = post.author %}
{% elsif page.author %}
  {% assign author_key = page.author %}
{% else %}
  {% assign author_key = site.author %}
{% endif %}

{% for key in author_key %}
  {% assign author = site.authors[key] %}

  {% if author %}
    <div class="meta">
      <span class="byline author vcard"><a href ="/author/{{key}}">{{ author.name }}<a/></span>
      {% if author.twitter %}
      <p class="fn">
        <a href="https://twitter.com/{{ author.twitter }}">@{{author.twitter}}</a>
      </p>
      {% endif %}

    </div>
  {% endif %}
{% endfor %}
