---
layout: page
footer: false
---

{% assign author = site.authors[site.current_author] %}

<div id="blog-archives" class="author">

  <h1>Posts by {{author.name}} -
    {% if author.site %}
    <span class="fn">
      <a href="{{ author.site }}">Site</a>
    </span>
    {% endif %}
    {% if author.github %}
    <span class="fn">
      <a href="https://github.com/{{ author.github }}">GitHub</a>
    </span>
    {% endif %}
    {% if author.twitter %}
    <span class="fn">
      <a href="https://twitter.com/{{ author.twitter }}">@{{author.twitter}}</a>
    </span>
    {% endif %}
  </h1>

{% for post in site.posts %}
  {% if post.author == site.current_author or post.author contains site.current_author %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% unless year == this_year %}
    {% assign year = this_year %}
    <h2>{{ year }}</h2>
  {% endunless %}
  <article>
    {% include archive_post.html %}
  </article>

  {% endif %}
{% endfor %}
</div>
