---
layout: page
footer: false
---
<div class="index-sidebar">
  <h1>Post Categories</h1>
</div>

<div class="index-main" style="padding-top:0px">
  <article>
    <p>We covered a lot of topics in the last few years, here's all of the tags we've applied to our posts.</p>
    <ul>
    {% for post_category in page.post_categories %}
    <a title="{{ post_category.count }} posts on {{ post_category.name }}" href="/{{ post_category.dir }}">{{ post_category.name }}</a>,
    {% endfor %}
    </ul>
    </article>
</div>

