{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>
  <div id="logo-container">
    <div id="lrg-mark">
      <a href="https://www.artsy.net/"><img src="/images/fixed_logo.png"></a>
    </div>
  </div>
  <header id="banner">{% include header.html %}</header>
  <div class="header-hamburger">
    <button class="cmn-toggle-switch cmn-toggle-switch__htx">
      <span>toggle menu</span>
    </button>
  </div>
  <div id="main">
    <div id="content">

      {{ content | expand_urls: root_url }}

    </div>
  </div>
  <footer id="main_footer">{% include footer.html %}</footer>
  {% include end_of_body_scripts.html %}
</body>
</html>
