{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>
  <div id="logo-container">
    <a id="lrg-mark" href="https://www.artsy.net/">
      <svg viewBox="0 0 510 510" width="40" height="40" xmlns="http://www.w3.org/2000/svg">
        <path transform="scale(1, -1) translate(0, -480)" d="M0 -32h512v512h-512v-512v0zM464 16h-80v80h-48v-80h-288v416h416v-416v0zM194 384h-40l-74 -186h38l20 52h72l19 -52h39l-74 186v0zM149 282l25 66l24 -66h-49v0z"/>
      </svg>
    </a>
  </div>
  <header id="banner">{% include header.html %}</header>
  <div class="header-hamburger">
    <button class="cmn-toggle-switch cmn-toggle-switch__htx">
      <span>toggle menu</span>
    </button>
  </div>
  <div id="main">
    <div id="content">

      {{ content | expand_urls: root_url }}

    </div>
  </div>
  <footer id="main_footer">{% include footer.html %}</footer>
  {% include end_of_body_scripts.html %}
</body>
</html>
