{% include head.html %}

<link href="{{ root_url }}/css/epic.css" media="screen, projection" rel="stylesheet" type="text/css">

<body>
  <header>
    <ul>
      <li><a href="">Artsy Engineering Blog</a></li>
      <li><a href="">Careers</a></li>
      <li><a href="">API</a></li>
    </ul>

    <ul>
      <li><a href="">Our Open Source</a></li>
      <li><a href="">@artsyopensource</a></li>
      <li><a href="">artsy.net</a></li>
    </ul>
  </header>

  <section>
    <header id="page">
      <h1>{{ page.title }}</h1>
      <h3>by Author Therox<h3>
    </header>

    <article class='post'>
      {{ content }}
    </article>
  </section>

  <footer>
    <article>

      <section>
        <h4>Author</h4>
        <p>Orta Therox</p>
        <p>Code Janitor at Artsy, thinking about JS tooling.</p>
      </section>

      <section>
        <h4>Post Meta</h4>
        <p>20th March, 2016</p>
        <p>Tagged: emission, force, javascript, react, reactnative, relay, typescript.</p>
      </section>

      <section>
        <h4>Artsy OSS</h4>
        <ul>
          <li><a href=''>Artsy.net</a></li>
          <li><a href=''>API</a></li>
          <li><a href=''>Featured OSS</a></li>
          <li><a href=''>Careers</a></li>
        </ul>
      </section>

      <section>
        <h4>Blog</h4>
        <ul>
          <li><a href=''>Archives</a></li>
          <li><a href=''>Search</a></li>
          <li><a href=''>Code on GitHub</a></li>
          <li><a href=''>Fix typoes in this post</a></li>
        </ul>
      </section>

    </article>

    <article>
      <section>
        <h4>Series</h4>
        <li><a href=''>React Native at Artsy</a></li>
        <li><a href=''>Artsy Tech Stack</a></li>
        <li><a href=''>Open Source by Default</a></li>
        <li><a href=''>Open Sourcing Your App</a></li>
      </section>

      <section>
        <h4>More from Artsy Tech Stack</h4>
        <li><a href=''>The Tech Behind Live Auction Integration</a></li>
        <li><a href=''>Artsy's Engineering Organization Stack, 2016</a></li>
        <li><a href=''>Artsy's Technology Stack, 2015</a></li>
        <li><a href=''>Artsy's Technology Stack</a></li>
      </section>

    </article>

  </footer>
</body>
