{% include head.html %}

<link href="{{ root_url }}/css/epic.css" media="screen, projection" rel="stylesheet" type="text/css">

{% if page.css %}
<link href="{{ root_url }}/css/posts/{{page.css}}.css" media="screen, projection" rel="stylesheet" type="text/css">
{% endif %}

<body>
  <div>
    <div id="bodywrapper">
      <header>
        <ul>
          <li><a href="/">Artsy Engineering Blog</a></li>
          <li><a href="https://www.artsy.net/jobs">Careers</a></li>
          <li><a href="https://developers.artsy.net">API</a></li>
        </ul>

        <ul>
          <li><a href="http://artsy.github.io/open-source/">Our Open Source</a></li>
          <li><a href="http://twitter.com/artsyopensource">@artsyopensource</a></li>
          <li><a href="https://www.artsy.net">artsy.net</a></li>
        </ul>
      </header>

      <section>
        <header id="page">
          <h1>{{ page.title }}</h1>
          <h3>
          <!-- Yep, single line so the comma lines up right -->
          By {% for key in page.author %}{% assign author = site.authors[key] %}{% if forloop.index > 1 %},{% endif %} {{ author.name }}{% endfor %}
          </h3>
        </header>

        <article class='post'>
          {{ content }}
        </article>

        <article class='post'>
          <p style="padding-bottom: 0; margin-bottom:0;">
            <a href="https://www.artsy.net/" style="background-image: none;">
              <svg viewBox="0 0 510 510" width="40" height="40" xmlns="http://www.w3.org/2000/svg">
                <path transform="scale(1, -1) translate(0, -480)" d="M0 -32h512v512h-512v-512v0zM464 16h-80v80h-48v-80h-288v416h416v-416v0zM194 384h-40l-74 -186h38l20 52h72l19 -52h39l-74 186v0zM149 282l25 66l24 -66h-49v0z"></path>
              </svg>
            </a>
          <p/>
        </article>

      {% if page.comment_id %}
        <article class='post'>
          {% include gh_comments.html %}
        </article>
      {% endif %}

      </section>

      <footer>
        <article>

          <section>
            <h4>Author</h4>
            <p>{% for key in page.author %}{% assign author = site.authors[key] %}{% if forloop.index > 1 %},{% endif %} <a href="/author/{{key}}"/>{{ author.name }}</a>{% endfor %}</p>
            <p>{% for key in page.author %}{% assign author = site.authors[key] %}{{ author.byline }}</a>{% endfor %}</p>
          </section>

          <section>
            <h4>Post Meta</h4>
            <p>{{ page.date | date: "%b %d, %Y"  }}</p>
            <p>Tagged: {{ page.categories | category_links }}</p>
          </section>
          <br/>
          <section>
            <h4>Artsy OSS</h4>
            <ul>
              <li><a href='https://www.artsy.net'>Artsy.net</a></li>
              <li><a href='https://developers.artsy.net'>API</a></li>
              <li><a href='http://artsy.github.io/open-source/'>Featured OSS</a></li>
              <li><a href='https://www.artsy.net/jobs'>Careers</a></li>
            </ul>
          </section>

          <section>
            <h4>Blog</h4>
            <ul>
              <li><a href='http://artsy.github.io/blog/archives/'>Archives</a></li>
              <li><a href='http://artsy.github.io/search/'>Search</a></li>
              <li><a href='https://github.com/artsy/artsy.github.io'>Code on GitHub</a></li>
              <li><a href='https://github.com/artsy/artsy.github.io/edit/source/{{page.path}}'>Fix typoes in this post</a></li>
            </ul>
          </section>

        </article>

        <article>
          <section>
            <h4>Post Series on the Blog</h4>
            <ul>
              {% for series in site.series %}
              <li><a href='/{{ series.url }}'>{{series.title}}</a></li>
              {% endfor %}
            </ul>
          </section>

          <section>
          {% if page.series %}
          <p class="meta-series" style="padding-bottom:0;">More from <strong>{{ page.series | series_link }}</strong></p>
          <ul>
            {% for post in site.posts %}
              {% if post.series == page.series %}
                {% if post.id != page.id %}
                <li><a href='{{ root_url }}{{ post.url }}'>{{post.title}}</a></li>
                {% endif %}  
              {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
          </section>
        </article>

      </footer>
    </div>
  </div>
</body>
