{% include head.html %}

<link href="{{ root_url }}/css/epic.css" media="screen, projection" rel="stylesheet" type="text/css">

<body>

  <header>
    <ul>
      <li><a href="">Artsy Engineering Blog</a></li>
      <li><a href="">Careers</a></li>
      <li><a href="">API</a></li>
    </ul>

    <ul>
      <li><a href="">Our Open Source</a></li>
      <li><a href="">@artsyopensource</a></li>
      <li><a href="">artsy.net</a></li>
    </ul>
  </header>

  <section>
    <header id="page">
      <h1>{{ page.title }}</h1>
      <h3>by Orta Therox
        <h3>
    </header>

    <article class='post'>
      {{ content }}
    </article>

    <article class='post'>
      <p style="padding-bottom: 0; margin-bottom:0;">
        <a href="https://www.artsy.net/" style="background-image: none;">
          <svg viewBox="0 0 510 510" width="40" height="40" xmlns="http://www.w3.org/2000/svg">
            <path transform="scale(1, -1) translate(0, -480)" d="M0 -32h512v512h-512v-512v0zM464 16h-80v80h-48v-80h-288v416h416v-416v0zM194 384h-40l-74 -186h38l20 52h72l19 -52h39l-74 186v0zM149 282l25 66l24 -66h-49v0z"></path>
          </svg>
        </a>
      <p/>
    </article>
  </section>

  <footer>
    <article>

      <section>
        <h4>Author</h4>
        <p>Orta Therox</p>
        <p>Code Janitor at Artsy, thinking about JS tooling.</p>
      </section>

      <section>
        <h4>Post Meta</h4>
        <p>20th March, 2016</p>
        <p>Tagged: emission, force, javascript, react, reactnative, relay, typescript.</p>
      </section>
      <br/>
      <section>
        <h4>Artsy OSS</h4>
        <ul>
          <li><a href=''>Artsy.net</a></li>
          <li><a href=''>API</a></li>
          <li><a href=''>Featured OSS</a></li>
          <li><a href=''>Careers</a></li>
        </ul>
      </section>

      <section>
        <h4>Blog</h4>
        <ul>
          <li><a href=''>Archives</a></li>
          <li><a href=''>Search</a></li>
          <li><a href=''>Code on GitHub</a></li>
          <li><a href=''>Fix typoes in this post</a></li>
        </ul>
      </section>

    </article>

    <article>
      <section>
        <h4>Series</h4>
        <li><a href=''>React Native at Artsy</a></li>
        <li><a href=''>Artsy Tech Stack</a></li>
        <li><a href=''>Open Source by Default</a></li>
        <li><a href=''>Open Sourcing Your App</a></li>
      </section>

      <section>
        <h4>More from Artsy Tech Stack</h4>
        <li><a href=''>The Tech Behind Live Auction Integration</a></li>
        <li><a href=''>Artsy's Engineering Organization Stack, 2016</a></li>
        <li><a href=''>Artsy's Technology Stack, 2015</a></li>
        <li><a href=''>Artsy's Technology Stack</a></li>
      </section>
    </article>

  </footer>
</body>
