---
layout: default
exclude_from_search: true
---

<div id="search-container">
  <div class="entries">
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#search-query').focus().lunrSearch({
      indexUrl  : '/javascripts/index.json',  // url for the .json file containing search index data
      results   : '#search-container',        // selector for containing search results element
      template  : '#search-results-template', // selector for Mustache.js template
    });
  });
</script>


{% raw %}
<script id="search-results-template" type="text/mustache">
  <h2>Search results for &ldquo;{{query}}&rdquo;</h2>
  <ul>
    {{#entries}}
      <li>
        <a href="{{url}}">{{title}}</a> - {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
      </li>
    {{/entries}}
  </ul>
</script>
{% endraw %}
