---
layout: page
footer: false
---

<div id="blog-archives" class="author">

  <h1>{{ page.series }} </h1>

  {% for author in page.authors %}
    <span class="byline author vcard">

      <div class="meta"><span class="fn">{{ author.name }}</span> - 

      {% if author.site %}
      <span class="fn">
        <a href="{{ author.site }}">Site</a>
      </span>
      {% endif %}
      {% if author.github %}
      <span class="fn">
        <a href="https://github.com/{{ author.github }}">GitHub</a>
      </span>
      {% endif %}
      {% if author.twitter %}
      <span class="fn">
        <a href="https://twitter.com/{{ author.twitter }}">@{{author.twitter}}</a>
      </span>
      {% endif %}
    </span>  
    </div>{% endfor %}


{% for post in page.posts %}

  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% unless year == this_year %}
    {% assign year = this_year %}
    <h2>{{ year }}</h2>
  {% endunless %}
  <article>
    {% include archive_post.html %}
  </article>

{% endfor %}
</div>

