<ul class="subscription" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
  <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  {% if site.subscribe_email %}
    <li><a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a></li>
  {% endif %}
</ul>
  {% if site.google_custom_search %}
  <form action="https://www.google.com/cse" method="get">
    <input type="hidden" value="{{ site.google_custom_search }}" name="cx" />
    <input class="search" type="text" name="q" results="0" />
  </form>
  {% endif %}
{% include custom/navigation.html %}
