---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
    {% assign content = post.content %}
      <article>
        {% include article.html %}
      </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
    <a href="{{paginator.next_page}}">Older</a>
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a href="{{paginator.previous_page}}">Newer</a>
    {% endif %}
  </div>
</div>
